<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>plan</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="ass_case">
            <div class="modal fade" id="ref-case-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <form class="modal-content needs-validation" id="refCaseForm">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">关联测试用例</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="box-body">
                                    <button type="button" class="btn btn-outline-info btn-sm" id="add-case-ref-btn">add</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">remove</button>
                                    <input type="hidden" id="hidden-plan-id">
                                    <table id="refCaseTable" class="table table-hover">
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
<!--                                <button type="button" class="btn btn-primary" id="sub-ref">确定</button>-->
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
