<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{::link})">
    <title>TSIM @ PLAN</title>
    <link rel="stylesheet" th:href="@{/plugins/bst/bootstrap-table.min.css}">
</head>
<body id="tsim_body">
<div th:replace="/fragment/commons_v2 :: 2nd-navigation(moduleflag='case',liFlag='plan')"></div>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
<!--            <nav th:replace="/fragment/commons :: nav-on-main-top"></nav>-->
            <div class="container-fluid">
                <!--操作栏-->
                <div class="pt-2 border-bottom">
                    <form id="search-form">
                        <div class="btn-group mb-2">
                            <div class="input-group me-2" style="width: fit-content">
                                <span class="input-group-text" id="project">所属项目</span>
                                <input type="text" class="form-control" name="projectName"
                                       placeholder="项目名称"
                                       aria-label="project" aria-describedby="project"
                                       id="p-search">
                            </div>
                            <div class="input-group me-2 " style="width: fit-content">
                                <span class="input-group-text">测试计划名称</span>
                                <input type="text" class="form-control" name="name" placeholder="测试计划名称"
                                       aria-label="name" id="plan-name"
                                       aria-describedby="basic-addon3">
                            </div>
                            <div class="input-group me-2 " style="width: fit-content">
                                <span class="input-group-text">测试计划描述</span>
                                <input type="text" class="form-control" name="description"
                                       placeholder="测试计划描述（模糊查询）" id="plan-description"
                                       aria-label="name"
                                       aria-describedby="basic-addon3">
                            </div>
                            <select class="form-select me-2" style="width: fit-content" aria-label="active"
                                    name="workStatus" id="workStatus">
<!--                                <option th:value="''">结束状态</option>-->
                                <option value="0">未结束</option>
                                <option value="1">已结束</option>
                            </select>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary hvr-grow me-1" id="search-button">
                                    <i class="bi bi-search"></i>
                                </button>
                                <button type="button" class="btn btn-info hvr-grow me-1"
                                        data-bs-toggle="modal" data-bs-target="#add-plan-modal"
                                        onclick="addOrEditPlan()">
                                    <i class="bi bi-plus-circle hvr-grow"></i>
                                </button>
                                <button type="button" class="btn btn-secondary hvr-grow " id="reset-button"
                                        title="重置搜索">
                                    <i class="bi-arrow-clockwise"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--            列表数据-->
                <div id="table_refresh" th:fragment="table_refresh">
                    <table id="table" class="table-hover">
                    </table>
                </div>
                <!--        分页-->
                <!--                        <div th:replace="/fragment/commons :: pagination01"></div>-->
            </div>
        </div>
        <footer th:replace="/fragment/commons :: footer"></footer>
    </div>
</div>

<!-- 添加问题单Modal弹框 -->
<div th:replace="~{plan/add_plan_modal::addPlanFragment}"></div>
<div th:replace="~{plan/associate_case::ass_case}"></div>
<div th:replace="~{plan/ref_run_modal::refRunFragment}"></div>
<!-- 添加问题单Modal弹框 -->
<div th:replace="~{bug/add_bug_modal::addBugFragment}"></div>
<!--                    toast-->
<div th:replace="/fragment/commons :: toast-div"></div>
<!-- Logout Modal-->
<div th:replace="/fragment/commons :: logout"></div>
<script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/global/js/common.js}"></script>
<script th:inline="javascript" th:src="@{/global/js/bs.table.js}"></script>
<script th:src="@{/global/js/t-bug.js}"></script>
<script th:src="@{/global/js/t-plan.js}"></script>
<script th:inline="javascript">
    <!--            查询条件-->
    autoComplete('/project/queryList', 'p-search', 'p', false);
    $('#add-plan-modal').on('show.bs.modal', function () {
        autoComplete('/project/queryList', 'p-add', 'p', true);
        $("input[type=hidden][id='storyId']").val('');
    });

    function configureStoryComplete() {
        const val = $('#s-p-id').val();
        autoComplete('/story/queryList/' + val, 'storyList', 's', true);
    }

    // 列表
    const _columns = [
        {field: 'id', align: 'center', title: 'id', visible: false},
        {
            field: 'projectId',
            align: 'center',
            title: '项目名',
            class: 'col-sm-6', formatter: function (value, row, index) {
                return row.project.projectName;
            }
        }, {
            field: 'storyId',
            align: 'center',
            title: '关联需求',
            class: 'col-sm-6', formatter: function (value, row, index) {
                return row.story != null ? row.story.storyName : undefined;
            }
        }, {
            field: 'name',
            align: 'center',
            title: '测试计划名称',
            class: 'col-sm-6'
        }, {
            field: 'description',
            align: 'center',
            title: '测试计划描述',
            class: 'col-sm-6'
        }, {title: '操作', align: 'center', field: 'id', class: 'col-sm-2', formatter: option,}];

    function option(value, row, index) {
        // return "<a href='#' id='del-project' onclick='delPro(" + row.id + ")' title='删除'>删除</a>";
        const edit = '<button type="button" class="btn btn-sm btn-warning me-1" id="edit-plan-button" data-bs-toggle="modal" ' +
            'data-bs-target="add-plan-modal" title="编辑测试计划数据" onclick="addOrEditPlan(\'' + row.id + '\')"><i class="bi-pencil-square"></i></>';
        const a = '<button type="button" class="btn btn-sm btn-info me-1" id="ref-add" data-bs-toggle="modal" ' +
            'data-bs-target="#ref-case-modal" data-bs-placement="top" title="关联测试用例" onclick="loadCaseInfo(\'' + row.id + '\')"><i class="bi-check"></i></>';
        const b = '<button type="button" class="btn btn-sm btn-info" id="ref-run" data-bs-toggle="modal" ' +
            'data-bs-target="#ref-run-modal" data-bs-placement="top" title="执行测试用例" onclick="loadRunCaseInfo(\'' + row.id + '\')"><i class="bi-check-all"></></button>';
        return edit + a + b;
    }

    const _params = function (params) {
        return {
            projectName: $('#p-search').val().trim(), // 自定义查询条件
            planName: $('#plan-name').val().trim(), // 自定义查询条件
            planDesc: $('#plan-description').val().trim(), // 自定义查询条件
            workStatus: $('#workStatus').val().trim(), // 自定义查询条件
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,

        }
    };
    InitTable("/plan/loadPlan", "get", _columns, _params);

    /** 关联弹框中搜索功能*/
    $(document).on('click', "#ref-case-search-btn", function () {
        $('#refCaseTable').bootstrapTable('refresh');
    });
    /** 关联弹框中重置功能*/
    $(document).on('click', "#ref-case-reset-button", function () {
        $('#ref-search-form')[0].reset();
        $('#refCaseTable').bootstrapTable('refresh');
    });

    function addOrEditPlan(id) {
        const _modal = $('#add-plan-modal');
        _modal.modal('show');
        _modal.on('shown.bs.modal', function () {
            // 编辑数据时不使用字段提示功能
            !id && autoComplete('/project/queryList', 'p-add', 'p', true);
            !id && $('input[type=hidden]:first').val('');
            removeClass('#p-add', 'is-invalid');
            removeClass('#add_plan_name', 'is-invalid');
            if (id) {
                $('#p-add').attr('readonly', 'readonly');
            } else {
                $('#p-add').attr('readonly', false);
            }
        })
        document.getElementById('add-plan-modal').querySelector('.modal-title').textContent = id ? '编辑测试计划' : '新增测试计划';
        if (id) {
            $("#hidden-plan-id").val(id);
            $.ajax({
                url: "/plan/getPlan/",
                type: 'get',
                data: {id: id},
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (res) {
                    let data = res['data'];
                    $('#p-add').val(data.project.projectName);
                    $('#s-p-id').val(data.projectId);
                    $('#storyId').val(data.storyId);
                    data.story && $('#storyList').val(data.story.storyName);
                    $('#add_plan_name').val(data.name);
                    $('#add-description-name').val(data.description);
                },
            })
        }
    }

    // 保存测试计划
    $('button[id=submitPlan]').on('click', function () {
        const tempProjectName = $('#p-add').val();
        const tempHiddenProjectId = $('#s-p-id').val();
        const tempStoryName = $('#storyList').val();
        const tempStoryId = $('#storyId').val();
        const $addPlanName = $('#add_plan_name');
        const tempPlanName = $addPlanName.val();
        // 测试计划名称非空验证
        tempPlanName ? removeClass('#add_plan_name', 'is-invalid') : $addPlanName.addClass("is-invalid");
        if (!tempProjectName) {
            $('#p-add').addClass("is-invalid");
            return false;
        } else {
            removeClass('#p-add', 'is-invalid');
            if (!tempHiddenProjectId) {
                $('#project-error-tips').text(tempProjectName + '不存在,先在项目管理模块添加');
                $('#p-add').addClass("is-invalid");
                return false;
            } else {
                removeClass('#p-add', 'is-invalid');
                $.ajax({
                    url: '/project/checkUniqueProject',
                    type: 'get',
                    data: {name: tempProjectName, id: tempHiddenProjectId},
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (result) {
                        if (Object.is(403, result['code'])) {
                            $('#project-error-tips').text('[' + tempProjectName + ']不存在,先在项目管理模块添加');
                            $('#p-add').addClass("is-invalid");
                            return false;
                        }
                    }
                });
            }
        }
        $.ajax({
            url: "/plan/save",
            type: 'POST',
            data: $("#addPlanForm").serialize(),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (arg) {
                if (Object.is(arg['code'], 200)) {
                    $('#add-plan-modal').modal('hide');
                    resetModal("#add-plan-modal", "addPlanForm");
                    $('#table').bootstrapTable('refresh');
                }
                showToast(arg['code'], arg['msg']);
            }
        });
    });
</script>
</body>
</html>
