<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>plan report</title>
    <meta name="author" content="11‘s papa">
</head>
<body>
<div th:fragment="planReportFragment">
    <div class="modal fade" id="plan-report-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
         aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div id="base-info" class="shadow mb-1">
                            <div class="card">
                                <div class="card-header">基础信息</div>
                                <div class="card-body">
                                    <div class="row mb-1">
                                        <div class="row col-md-6">
                                            <label class="col-sm-5 col-form-label text-end" for="report-project-name">项目名称</label>
                                            <div class="col-md-7">
                                                <span class="text-center" id="report-project-name"></span>
                                            </div>
                                        </div>
                                        <div class="row col-md-6">
                                            <label class="col-sm-5 col-form-label text-end" for="report-project-name">项目名称</label>
                                            <div class="col-md-7 text-center">
                                                <span id="report-project-name1">1111</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="row col-md-6">
                                            <label class="col-sm-5 col-form-label text-end"
                                                   for="report-begin-date">开始时间</label>
                                            <div class="col-md-7">
                                                <div id="report-begin-date"></div>
                                            </div>
                                        </div>
                                        <div class="row col-md-6">
                                            <label class="col-sm-5 col-form-label text-end"
                                                   for="report-end-date">结束时间</label>
                                            <div class="col-md-7 text-center">
                                                <div id="report-end-date"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="result" class="shadow mb-1">
                            <div class="card">
                                <div class="card-header">测试结果</div>
                                <div class="card-body">
                                    <table id="report-plan-info-table" class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th data-field="moduleName">模块</th>
                                            <th data-field="caseCount">用例数</th>
                                            <th data-field="passRate">通过率</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div id="result-statistics" class="shadow">
                            <div class="card">
                                <div class="card-header">测试结果统计</div>
                                <div class="card-body">
                                    <div id="statistics-echarts" style="height: 300px;width: 500px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>