<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TSIM @ PLAN</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/plugins/sb-admin-2.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/hover.css}">
        <!--        toast插件-->
        <link rel="stylesheet" th:href="@{/plugins/iziToast.min.css}">
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- 左侧菜单 -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="bi bi-emoji-laughing"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">TSIM <sup>2</sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/dashboard}">
                        <i class="bi bi-speedometer2"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#collapseTwo" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="bi bi-layers-half"></i>
                        <span>项目管理</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" th:href="@{/project/projectList}">项目管理</a>
                            <a class="collapse-item" th:href="@{/task/list}">任务汇总</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#collapseUtilities" data-bs-toggle="collapse"
                       aria-expanded="false" aria-controls="collapseUtilities">
                        <i class="bi bi-layers-half"></i>
                        <span>测试用例管理</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!--                            <h6 class="collapse-header">Custom Utilities:</h6>-->
                            <a class="collapse-item" th:href="@{/case/case_list}">测试用例</a>
                            <!--                            <a class="collapse-item" th:href="@{/story/list}">测试需求管理</a>-->
                            <a class="collapse-item" href="#">测试需求管理</a>
                            <!--                            <a class="collapse-item" th:href="@{/plan/list}">测试计划管理</a>-->
                            <a class="collapse-item" href="#">测试计划管理</a>
                            <a class="collapse-item" href="#">Other</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bug/list}">
                        <i class="bi bi-bug"></i>
                        <span>问题单(BUG)</span></a>
                </li>

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-question-circle"></i>
                        <span>other</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle">
                        <i class="bi bi-list"></i>
                    </button>
                </div>

            </ul>
            <!-- 左侧菜单结束 -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- 右侧顶部导航栏 -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <!--                        <form-->
                        <!--                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
                        <!--                            <div class="input-group">-->
                        <!--                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
                        <!--                                       aria-label="Search" aria-describedby="basic-addon2">-->
                        <!--                                <div class="input-group-append">-->
                        <!--                                    <button class="btn btn-primary" type="button">-->
                        <!--                                        <i class="fas fa-search fa-sm"></i>-->
                        <!--                                    </button>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </form>-->

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-bell"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span th:text="${session.account.username}"></span>
                                    <!--                                    <img class="img-profile rounded-circle"-->
                                    <!--                                         src="img/undraw_profile.svg">-->
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- 右侧顶部导航栏结束 -->

                    <!-- Begin Page Content 右侧页面内容 -->
                    <div class="container-fluid">
                        <!--操作栏-->
                        <div class="card pt-2">
                            <div class="card-body">
                                <form th:action="@{list}" method="get">
                                    <div class="row">
                                        <div class="input-group mb-3" style="width: 15%">
                                            <span class="input-group-text" id="project">所属项目</span>
                                            <input type="text" class="form-control" name="projectName" placeholder="项目名称"
                                                   list="proStuff" aria-label="project" aria-describedby="project" id="project-s">
                                            <datalist id="proStuff">
                                                <option th:each="s:${projects}" th:data-value="${s.id}">[[${s.projectName}]]
                                                </option>
                                            </datalist>
                                            <input type="hidden" name="projectId" id="projectId">
                                        </div>
                                        <div class="input-group mb-3 " style="width: 15%">
                                            <span class="input-group-text">测试计划名称</span>
                                            <input type="text" class="form-control" name="name" placeholder="测试计划名称"
                                                   aria-label="name"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <div class="input-group mb-3 " style="width: 15%">
                                            <span class="input-group-text">测试计划描述</span>
                                            <input type="text" class="form-control" name="description" placeholder="测试计划描述（模糊查询）"
                                                   aria-label="name"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <select class="form-select mb-3" style="width: 6%" aria-label="active" name="delFlag">
                                            <option th:value="''">结束状态</option>
                                            <option value="0">未结束</option>
                                            <option value="1">已结束</option>
                                        </select>
                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                            <button type="submit" class="btn hvr-grow"><i class="bi bi-search"
                                                                                          style="color: cornflowerblue"></i>
                                            </button>
                                            <button type="button" class="btn"
                                                    data-bs-toggle="modal" data-bs-target="#add-plan-modal"><i
                                                    class="bi bi-plus-circle hvr-grow" style="color: cornflowerblue"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--            列表数据-->
                        <div>
                            <table class="table table-hover card-footer">
                                <thead class="table-light">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">所属项目</th>
                                    <th scope="col">关联需求</th>
                                    <th scope="col">测试计划名称</th>
                                    <th scope="col">测试计划描述</th>
                                    <th scope="col">结束状态</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="temp,stat:${iPage.records}">
                                    <input name="id" type="hidden" class="form-control"
                                           th:value="${temp.id}" id="id">
                                    <input name="workDate" type="hidden" th:value="${temp.workDate}" id="workDate"/>
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:value="${temp.project.id}" th:text="${temp.project.projectName}" th:id="project"></td>
                                    <td th:value="${temp.story.id}" th:text="${temp.story.description}"></td>
                                    <td th:text="${temp.name}"></td>
                                    <td th:text="${temp.description}"></td>
                                    <td th:switch="${temp.delFlag}">
                                        <div class="form-check form-switch">
                                <span th:case="0">
                                    <input class="form-check-input" type="checkbox" id="un-del" checked
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="un-del"></label>
                                </span>
                                            <span th:case="1">
                                    <input class="form-check-input" type="checkbox" id="del"
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="del"></label>
                                </span>
                                        </div>
                                    </td>
                                    <td class="align-items-md-center">
                                        <a type="button" class="btn" id="ref-add"
                                           data-bs-toggle="modal" data-bs-target="#ref-case-modal"><i
                                                class="bi bi-plus-circle hvr-grow" style="color: cornflowerblue"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="关联测试用例"></i>
                                        </a>
                                        <a type="button" class="btn" id="ref-run"
                                           data-bs-toggle="modal" data-bs-target="#ref-run-modal"><i
                                                class="bi bi-list-check hvr-grow" style="color: cornflowerblue"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="执行测试用例"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <!--        分页-->
                        <div th:replace="/fragment/pagination_fragment :: pagination01"></div>
                    </div>
                    <!-- 添加问题单Modal弹框 -->
                    <div th:replace="~{plan/add_plan_modal::addPlanFragment}"></div>
                    <div th:replace="~{plan/ref_case_modal::refCaseFragment}"></div>
                    <div th:replace="~{plan/ref_run_modal::refRunFragment}"></div>
                    <!-- 添加问题单Modal弹框 -->
                    <div th:replace="~{bug/add_bug_modal::addBugFragment}"></div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/user/exit}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/sb-admin-2.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/iziToast.min.js}"></script>
        <script th:inline="javascript" th:src="@{/dist/js/build_page_info.js}"></script>
        <script th:inline="javascript" th:src="@{/dist/js/refCaseTable.js}"></script>
        <script th:src="@{/dist/js/add_bug.js}"></script>
        <script>
            // 保存测试计划
            $('#submitPlan').click(function () {
                const data = $("#addPlanForm").serialize();
                $.ajax({
                    url: "/plan/save",
                    type: 'POST',
                    data: data,
                    dataType: 'JSON',
                    success: function (arg) {
                        if (Object.is(arg['code'], 200)) {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'green'
                                }
                            );
                            // 数据添加成功后关闭弹框
                            $("#add-plan-modal").modal('hide');
                            location.reload();
                        } else {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'red'
                                }
                            );
                        }
                    }
                });
            })

            // 更新项目状态
            function updateStatus(projectId) {
                $.ajax({
                    url: '/plan/updatePlanStatus/',
                    type: 'POST',
                    data: {
                        projectId: projectId
                    },
                    dataType: 'JSON',
                    success: function (arg) {
                        if (Object.is(arg['code'], 200)) {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'green'
                                }
                            );
                            location.reload();
                        } else {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'red'
                                }
                            );
                        }
                    }
                })
            }

            // 需求data list 前端显示name，后台传id
            $('#storyList').change(function () {
                const input_select = $("#storyList").val();
                const options = $('#storyStuff>option').length;
                for (let i = 0; i < options; i++) {
                    const option_value = $('#storyStuff>option').eq(i).attr('data-value');
                    const optionT = $("#storyStuff>option").eq(i).val();
                    if (input_select === optionT) {
                        $('#storyId').val(option_value);
                        break
                    }
                }
            })
        </script>
    </body>
</html>
