<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragment/commons :: common_header(~{::title},~{})">
        <title>TSIM @ PLAN</title>
    </head>
    <body>

        <header th:replace="/fragment/commons :: top-header">
        </header>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" th:replace="/fragment/commons :: sidebarMenu2(flag='plan')">
                </nav>
                <main class=" ms-sm-auto px-md-1 position-relative main-content">
                    <!-- Begin Page Content 右侧页面内容 -->
                    <div>
                        <!--操作栏-->
                        <div class="pt-2 border-bottom">
                            <div class="card-body">
                                <form th:action="@{list}" method="get">
                                    <div class="row">
                                        <div class="input-group mb-3" style="width: fit-content">
                                            <span class="input-group-text" id="project">所属项目</span>
                                            <input type="text" class="form-control" name="projectName"
                                                   placeholder="项目名称"
                                                   aria-label="project" aria-describedby="project"
                                                   id="p-search">
                                        </div>
                                        <div class="input-group mb-3 " style="width: fit-content">
                                            <span class="input-group-text">测试计划名称</span>
                                            <input type="text" class="form-control" name="name" placeholder="测试计划名称"
                                                   aria-label="name"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <div class="input-group mb-3 " style="width: fit-content">
                                            <span class="input-group-text">测试计划描述</span>
                                            <input type="text" class="form-control" name="description"
                                                   placeholder="测试计划描述（模糊查询）"
                                                   aria-label="name"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <select class="form-select mb-3" style="width: fit-content" aria-label="active"
                                                name="delFlag">
                                            <option th:value="''">结束状态</option>
                                            <option value="0">未结束</option>
                                            <option value="1">已结束</option>
                                        </select>
                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                            <button type="submit" class="btn hvr-grow"><i class="bi bi-search"
                                                                                          style="color: cornflowerblue"></i>
                                            </button>
                                            <button type="button" class="btn"
                                                    data-bs-toggle="modal" data-bs-target="#add-plan-modal"><i
                                                    class="bi bi-plus-circle hvr-grow"
                                                    style="color: cornflowerblue"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--            列表数据-->
                        <div id="table_refresh" th:fragment="table_refresh">
                            <table class="table table-hover card-footer">
                                <thead class="table-light">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">所属项目</th>
                                    <th scope="col">关联需求</th>
                                    <th scope="col">测试计划名称</th>
                                    <th scope="col">测试计划描述</th>
                                    <th scope="col">结束状态</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="temp,stat:${iPage.records}">
                                    <input name="id" type="hidden" class="form-control"
                                           th:value="${temp.id}" id="id">
                                    <input name="workDate" type="hidden" th:value="${temp.workDate}" id="workDate"/>
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:value="${temp.project.id}" th:text="${temp.project.projectName}"
                                        th:id="project"></td>
                                    <td th:value="${temp.story.id}" th:text="${temp.story.description}"></td>
                                    <td th:text="${temp.name}"></td>
                                    <td th:text="${temp.description}"></td>
                                    <td th:switch="${temp.delFlag}">
                                        <div class="form-check form-switch">
                                <span th:case="0">
                                    <input class="form-check-input" type="checkbox" id="un-del" checked
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="un-del"></label>
                                </span>
                                            <span th:case="1">
                                    <input class="form-check-input" type="checkbox" id="del"
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="del"></label>
                                </span>
                                        </div>
                                    </td>
                                    <td class="align-items-md-center">
                                        <a type="button" class="btn" id="ref-add"
                                           data-bs-toggle="modal" data-bs-target="#ref-case-modal"><i
                                                class="bi bi-plus-circle hvr-grow" style="color: cornflowerblue"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="关联测试用例"></i>
                                        </a>
                                        <a type="button" class="btn" id="ref-run"
                                           data-bs-toggle="modal" data-bs-target="#ref-run-modal"><i
                                                class="bi bi-list-check hvr-grow" style="color: cornflowerblue"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="执行测试用例"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                    <!--        分页-->
                    <div th:replace="/fragment/commons :: pagination01"></div>
                    <!--                    toast-->
                    <div th:replace="/fragment/commons :: toast-div"></div>
                </main>

                <!-- 添加问题单Modal弹框 -->
                <div th:replace="~{plan/add_plan_modal::addPlanFragment}"></div>
                <div th:replace="~{plan/ref_case_modal::refCaseFragment}"></div>
                <div th:replace="~{plan/ref_run_modal::refRunFragment}"></div>
                <!-- 添加问题单Modal弹框 -->
                <div th:replace="~{bug/add_bug_modal::addBugFragment}"></div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="/fragment/commons :: footer"></div>
        <!-- End of Footer -->
        <!-- Logout Modal-->
        <div th:replace="/fragment/commons :: logout"></div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/autocomplete.js}"></script>
        <script type="text/javascript" th:src="@{/dist/js/common.js}"></script>
        <script th:inline="javascript" th:src="@{/dist/js/pagination-on-modal.js}"></script>
        <script th:inline="javascript" th:src="@{/dist/js/ref-case-table.js}"></script>
        <script th:src="@{/dist/js/add_bug.js}"></script>
        <script>
            <!--            查询条件-->
            autoComplete('/project/queryList', 'p-search', 'p', false);
            $('#add-plan-modal').on('shown.bs.modal', function () {
                autoComplete('/story/queryList', 'storyList', 's', true);
            })
            // 保存测试计划
            $('#submitPlan').click(function () {
                $.ajax({
                    url: "/plan/save",
                    type: 'POST',
                    data: {
                        "storyId": $("#storyId").val(),
                        "planName": $("#add_plan_name").val(),
                        "planDesc": $("#add-description-name").val()
                    },
                    dataType: 'JSON',
                    success: function (arg) {
                        if (Object.is(arg['code'], 200)) {
                            resetModal("#add-plan-modal", "addPlanForm");
                            $("#table_refresh").load("/plan/reloadTable");
                        }
                        showToast(arg['code'], arg['msg']);
                    }
                });
            })

            // 更新项目状态
            function updateStatus(projectId) {
                $.ajax({
                    url: '/plan/updatePlanStatus/',
                    type: 'POST',
                    data: {
                        id: projectId
                    },
                    dataType: 'JSON',
                    success: function (arg) {
                        if (Object.is(arg['code'], 200)) {
                            alert(arg['msg'], 'success');
                        } else {
                            alert(arg['msg'], 'warning');
                        }
                    }
                })
            }

            resetModal("#add-plan-modal", "addPlanForm")
        </script>
    </body>
</html>
