<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>plan</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="refCaseFragment">
            <div class="modal fade" id="ref-case-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <form class="modal-content needs-validation" id="refCaseForm">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">关联测试用例</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="box-body">
                                    <table id="refCaseTable" class="table table-hover">
                                        <thead>
                                        <tr class="text-center">
                                            <th><input type="checkbox" class="select-all checkbox" name="select-all" id="select-all"/></th>
                                            <th scope="col">标题</th>
                                            <th scope="col">描述</th>
                                            <th scope="col">前置条件</th>
                                            <th scope="col">测试步骤</th>
                                            <th scope="col">预期结果</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <!--                分页-->
                                <div class="row-fluid">
                                    <div>
                                        <nav id="page_nav_area" aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="sub-ref">确定</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
