<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TSIM @ PROJECT</title>
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <link th:href="@{/css/bs/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/icons/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/hover.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div class="container-fluid position-sticky z-index-sticky" role="navigation"
             th:include="/navbar/nav_1 :: nav1"></div>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card pt-2">
                    <div class="card-body">
                        <form th:action="@{projectList}" method="get" class="row row-cols-lg-auto g-3 align-items-center">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="请输入项目名称" name="projectName">
                            </div>

                            <div class="col-12">
                                <select class="form-control" name="workDate" id="workDate-search"
                                        required>
                                    <option th:each="m:${monthList}"
                                            th:value="${m}"
                                            th:text="${m}"
                                            th:selected="${#dates.format(#dates.createToday(),'yyyy-MM') eq m}">
                                </select>
                            </div>
                            <button type="submit" class="btn hvr-grow"><i class="bi bi-search"
                                                                          style="color: cornflowerblue"></i></button>
                            <button type="button" class="btn hvr-grow" th:onclick="addProject()"><i
                                    class="bi bi-plus-circle hvr-grow" style="color: cornflowerblue"></i>
                            </button>
                            <datalist id="proList">
                                <option th:each="pro:${records}" th:value="${pro.projectName}"
                                        th:text="${pro.projectName}"></option>
                            </datalist>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">项目名</th>
                        <th scope="col">关联模块</th>
                        <th scope="col">关联测试用例</th>
                        <th scope="col">关联bug</th>
                        <th scope="col">是否有效</th>
                        <!--                            <th scope="col">操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="temp,stat:${iPage.records}" class="text-center">
                        <input name="id" type="hidden" class="form-control"
                               th:value="${temp.id}" id="id">
                        <td th:text="${stat.index+1}"></td>
                        <td th:text="${temp.projectName}"></td>
                        <td>
                            <a href="#"
                               th:text="${ref.get(temp.id).get('module')}"></a>
                        </td>
                        <td>
                            <a href="#"
                               th:text="${ref.get(temp.id).get('case')}"></a>
                        </td>
                        <td>
                            <a href="#"
                               th:text="${ref.get(temp.id).get('bug')}"></a>
                        </td>
                        <td th:switch="${temp.delFlag}">
                            <div class="form-check form-switch">
                                        <span th:case="0">
                                            <input class="form-check-input" type="checkbox" id="un-del" checked
                                                   th:onclick="updateStatus([[${temp.id}]])">
                                        <label class="form-check-label" for="un-del"></label>
                                        </span>
                                <span th:case="1">
                                            <input class="form-check-input" type="checkbox" id="del"
                                                   th:onclick="updateStatus([[${temp.id}]])">
                                        <label class="form-check-label" for="del"></label>
                                        </span>
                            </div>
                        </td>
                        <!--                            <td>-->
                        <!--                                <a href="#" class="disabled">-->
                        <!--                                    <i class="bi bi-card-text"></i>-->
                        <!--                                </a>-->
                        <!--                                <a href="#" class="disabled">-->
                        <!--                                    <i class="bi bi-trash"></i>-->
                        <!--                                </a>-->
                        <!--                            </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--        分页-->
        <div th:replace="/fragment/pagination_fragment :: pagination01">
        </div>
        <!--        toast-->
        <div id="toast-div">
        </div>
        <!--        add modal-->
        <div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form class="modal-content needs-validation" id="addProjectForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">新增项目</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">项目名</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="add-project-name" name="projectName"
                                               value="" placeholder="输入项目名"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="workDate" class="form-label"></label>
                                    <select class="form-select" name="workDate" id="workDate"
                                            required>
                                        <option th:value="''"  th:text="选择日期" selected="selected"></option>
                                        <option th:each="m:${monthList}"
                                                th:value="${m}"
                                                th:text="${m}"
                                        >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="submit">确定</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bs/bootstrap.js}"></script>
        <script type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<!--        <script th:src="@{/js/init_table_checkbox.js}"></script>-->
        <script>
            // 弹出添加modal
            function addProject() {
                $("#add-project-modal").modal('show');
            }

            // 保存项目
            $('#submit').click(function () {
                const data = $("#addProjectForm").serialize();
                $.ajax({
                    url: "/project/addProject",
                    type: 'POST',
                    data: data,
                    dataType: 'JSON',
                    success: function (arg) {
                        const msg = arg['msg'];
                        if (Object.is(arg['code'], 200)) {
                            iziToast.show({
                                    // title: 'Success',
                                    message: msg,
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'green'
                                }
                            );
                            window.location.reload();
                        } else {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'red'
                                }
                            );
                        }
                    }
                });
            })

            // 更新项目状态
            function updateStatus(projectId) {
                $.ajax({
                    url: '/project/updateProject/',
                    type: 'POST',
                    data: {
                        projectId: projectId
                    },
                    dataType: 'JSON',
                    success: function (arg) {
                        // console.log( arg['result']);
                        const msg = arg['msg'];
                        if (Object.is(arg['code'], 200)) {
                            toastInfo(msg, 'success');
                        } else {
                            toastInfo(msg, 'danger');
                        }
                    }
                })
            }
        </script>
    </body>
</html>
