<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragment/commons :: common_header(~{::title},~{})">
        <title>TSIM @ PROJECT</title>
    </head>
    <body id="page-top">
        <header th:replace="/fragment/commons :: top-header">
        </header>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" th:replace="/fragment/commons :: sidebarMenu2(flag='project')">
                </nav>
                <main class="ms-sm-auto px-md-1 position-relative main-content">
                    <!-- Begin Page Content 右侧页面内容 -->
                    <div>
                        <!--操作栏-->
                        <div class="pt-2 border-bottom">
                            <div class="card-body">
                                <form action="#" th:action="@{list}">
                                    <div class="row">
                                        <div class="input-group mb-3" style="width: fit-content">
                                            <span class="input-group-text">所属项目</span>
                                            <input type="text" class="form-control" name="projectName"
                                                   placeholder="项目名称（模糊查询）" id="p-search"
                                                   aria-label="projectId"
                                                   aria-describedby="basic-addon1">
                                        </div>
                                        <!--                                        <div class="input-group mb-3" style="width: fit-content">-->
                                        <!--                                            <label class="input-group-text" for="workDate-search">任务时间</label>-->
                                        <!--                                            <select class="form-select" aria-label="priority" name="workDate"-->
                                        <!--                                                    id="workDate-search">-->
                                        <!--                                                <option th:value="''" selected>选择任务时间</option>-->
                                        <!--                                                <option th:each="m:${monthList}"-->
                                        <!--                                                        th:value="${m}"-->
                                        <!--                                                        th:text="${m}">-->
                                        <!--                                            </select>-->
                                        <!--                                        </div>-->
                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                            <button type="submit" class="btn hvr-grow"><i class="bi bi-search"
                                                                                          style="color: cornflowerblue"></i>
                                            </button>
                                            <button type="button" class="btn hvr-grow" data-bs-toggle="modal"
                                                    data-bs-target="#add-project-modal"><i
                                                    class="bi bi-plus-circle hvr-grow"
                                                    style="color: cornflowerblue"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="table_refresh" th:fragment="table_refresh">
                            <table class="table table-hover">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">项目名</th>
                                    <!--                                    <th scope="col">任务时间</th>-->
                                    <th scope="col">关联模块</th>
                                    <th scope="col">关联测试用例</th>
                                    <th scope="col">关联bug</th>
                                    <!--                        <th scope="col">是否完成</th>-->
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="temp,stat:${iPage.records}" class="text-center">
                                    <input name="id" type="hidden" class="form-control"
                                           th:value="${temp.id}" id="id">
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:text="${temp.projectName}"></td>
                                    <!--                                    <td th:text="${temp.issueDate}"></td>-->
                                    <td>
                                        <a href="#"
                                           th:text="${temp.refModuleCount}"></a>
                                    </td>
                                    <td>
                                        <a href="#"
                                           th:text="${temp.refCaseCount}"></a>
                                    </td>
                                    <td>
                                        <a href="#"
                                           th:text="${temp.refBugCount}"></a>
                                    </td>
                                    <td>
                                        <a href="#" th:style="${temp.reportDoc} ? 'pointer-events: none' : ''"
                                           th:href="@{'/project/generateReport/'+${temp.id}+'/'+${temp.issueDate}}">生成报告</a>
                                        <a href="#">下载报告</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--        add modal-->
                    <div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog"
                         aria-labelledby="ModalTitle"
                         aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form class="modal-content needs-validation" id="addProjectForm" novalidate>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">新增项目</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">项目名称</span>
                                                    <input type="text" name="projectName" id="add-pro"
                                                           class="form-control"
                                                           placeholder="输入项目名"
                                                           aria-label="Username" aria-describedby="basic-addon1"
                                                           required>
                                                    <div class="invalid-feedback">
                                                        请输入项目名称.
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                            <div class="input-group mb-3">-->
                                            <!--                                                <label class="input-group-text" for="workDate">任务时间</label>-->
                                            <!--                                                <select class="form-select" id="workDate" name="workDate" required>-->
                                            <!--                                                    <option th:value="''" selected>选择任务时间</option>-->
                                            <!--                                                    <option th:each="m:${monthList}"-->
                                            <!--                                                            th:value="${m}"-->
                                            <!--                                                            th:text="${m}"-->
                                            <!--                                                    >-->
                                            <!--                                                </select>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="save-pro">保存</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--        分页-->
                    <div th:replace="/fragment/commons :: pagination01"></div>
                    <!--                    toast-->
                    <div th:replace="/fragment/commons :: toast-div"></div>
                </main>
            </div>
        </div>
        <footer th:replace="/fragment/commons :: footer"></footer>
        <div th:replace="/fragment/commons :: logout"></div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/autocomplete.js}"></script>
        <script type="text/javascript" th:src="@{/dist/js/common.js}"></script>
        <script>
            autoComplete("/project/queryList", "p-search", 'p', false);
            $("#save-pro").click(function () {
                $.ajax({
                    url: "/project/checkProject/" + $("#add-pro").val(),
                    type: "get",
                    // sync: false,
                    success: function (data) {
                        console.log(data);
                        if (Object.is(200, data['code'])) {
                            $.ajax({
                                url: "/project/addProject",
                                type: "post",
                                data: {"name": $("#add-pro").val()},
                                dataType: 'JSON',
                                // contentType: "application/json; charset=utf-8",
                                // sync: false,
                                success: function (result) {
                                    if (Object.is(200, result['code'])) {
                                        resetModal("#add-project-modal", "addProjectForm");
                                        $("#table_refresh").load("/project/reloadTable");
                                    }
                                    showToast(result['code'], result['msg']);
                                }
                            })
                        }
                    }
                });
            })
        </script>
    </body>
</html>
