<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
    </head>
    <body>

        <div th:fragment="addTaskFragment">
            <div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form class="modal-content needs-validation" id="addTaskForm" autocomplete="off">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">新增任务</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="box-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text required" id="basic-addon1">项目名称</span>
                                        <input type="text" class="form-control invalid-item" placeholder="输入项目名称"
                                               aria-label="project" aria-describedby="basic-addon1" id="t-add">
                                        <div class="invalid-feedback" id="project-error-tips">
                                            项目名称不能为空.
                                        </div>
                                        <input type="hidden" name="projectId" id="s-p-id">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text required">任务描述</span>
                                        <textarea class="form-control invalid-item" aria-label="task description" id="add-description-name"
                                                  name="description"></textarea>
                                        <div class="invalid-feedback">
                                            任务描述不能为空.
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="workDate" class="input-group-text required">任务日期</label>
                                        <select class="form-select" name="workDate" id="workDate">
                                            <option th:each="m:${monthList}"
                                                    th:value="${m}"
                                                    th:text="${m}"
                                                    th:selected="${#dates.format(#dates.createToday(),'yyyy-MM') eq m}"
                                            >
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" th:onclick="saveTask()" id="save-task">确定</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
