<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{})">
    <title>TSIM | Task</title>
</head>
<body id="tsim_body" class="aside-enable">

<div id="wrapper">
    <div th:replace="/fragment/commons :: sidebarMenu(flag='task')"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="/fragment/commons :: nav-on-main-top"></nav>
            <div class="container-fluid">
                <!--操作栏-->
                <div class="pt-2">
                    <div class="card-body">
                        <form id="search-form">
                            <div class="btn-group mb-2" role="group" aria-label="search">
                                <div class="input-group me-2" style="width: fit-content">
                                    <span class="input-group-text">所属项目</span>
                                    <input type="text" class="form-control" name="projectId"
                                           placeholder="项目名称（模糊查询）" id="p-search"
                                           aria-label="projectId"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group me-2" style="width: fit-content">
                                    <label class="input-group-text" for="finishStatus">完成状态</label>
                                    <select class="form-select" name="finishStatus" id="finishStatus">
                                        <option th:value="''" selected>完成状态</option>
                                        <option value="0">已完成</option>
                                        <option value="1">进行中</option>
                                        <option value="2">待回测</option>
                                        <option value="3">已回测</option>
                                    </select>
                                </div>
                                <div class="input-group me-2" style="width: fit-content">
                                    <label class="input-group-text" for="workDate-search">任务时间</label>
                                    <select class="form-select" name="issueDate" id="workDate-search">
                                        <option th:value="''" selected>任务时间</option>
                                        <option th:each="m:${monthList}"
                                                th:value="${m}"
                                                th:text="${m}">
                                    </select>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary hvr-grow me-2">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary hvr-grow"
                                            data-bs-toggle="modal" data-bs-target="#add-task-modal">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--            列表数据-->
                <div id="table_refresh" th:fragment="table_refresh">
                    <table id="table" class="table table-hover" data-detail-view="true"
                           data-detail-formatter="taskDetail"></table>
                </div>
                <div th:replace="/task/add_task :: addTaskFragment"></div>
                <!--                        <div th:replace="/fragment/commons :: pagination01"></div>-->
            </div>
        </div>
        <footer th:replace="/fragment/commons :: footer"></footer>
    </div>
</div>

<!--                    toast-->
<div th:replace="/fragment/commons :: toast-div"></div>
<div th:replace="/task/task_edit :: task-edit"></div>
<!--        <footer th:replace="/fragment/commons :: footer"></footer>-->
<!-- Logout Modal-->
<div th:replace="/fragment/commons :: logout"></div>
<script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/plugins/autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/global/js/common.js}"></script>
<script type="text/javascript" th:src="@{/global/js/bs.table.js}"></script>
<script th:inline="javascript" th:src="@{/global/js/t-task.js}"></script>
</body>
</html>
