<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>nav1</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
<!--        th:fragment="navigation"-->
        <div th:fragment="nav1">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg shadow my-3 py-2 start-0 end-0 mx-4" style="border-radius: 40px">
                        <div class="container-fluid px-0">
                            <div class="collapse navbar-collapse justify-content-md-center">
                                <ul class="nav nav-pills navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" th:href="@{/dashboard}">dashboard</a>
                                    </li>
<!--                                    <li class="nav-item">-->
<!--                                        <a class="nav-link" aria-current="page" th:href="@{/project/projectList}">项目管理</a>-->
<!--                                    </li>-->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">项目管理</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:href="@{/project/projectList}">项目管理</a></li>
                                            <li><a class="dropdown-item" th:href="@{/task/list}">任务汇总</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">测试用例管理</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:href="@{/case/case_list}">测试用例</a></li>
                                            <li><a class="dropdown-item" th:href="@{/story/list}">测试需求管理</a></li>
                                            <li><a class="dropdown-item" th:href="@{/plan/list}">测试计划管理</a></li>
<!--                                            <li><hr class="dropdown-divider"></li>-->
<!--                                            <li><a class="dropdown-item" href="#">Separated link</a></li>-->
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/bug/list}">问题单(BUG)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">todo list</a>
                                    </li>
                                </ul>
                                <div class="menu">
                                    <a th:href="@{/user/exit}" class="item">注销</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>
