<!--head信息-->
<head th:fragment="common_header(title,links)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}"></title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/global/css/common.css}">
    <th:block th:replace="${links}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/hover.css}">
    <meta name="author" content="11‘s papa">
</head>
<!--菜单-->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" th:fragment="sidebarMenu">
    <!--header-->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" th:href="@{/dashboard}"
       th:fragment="sidebar-brand">
        <div class="sidebar-brand-icon rotate-n-15"><i class="bi-emoji-laughing-fill"> </i></div>
        <div class="sidebar-brand-text mx-3">TSIM&nbsp;&nbsp;<sup style="text-transform: capitalize">beta</sup></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a href="#" th:class="${flag=='dashboard'?'nav-link active':'nav-link'}" th:href="@{/dashboard}">
            <span class="align-middle">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" th:class="${flag=='project'?'nav-link active':'nav-link'}" th:href="@{/project/list}">
            <span class="align-middle">项目管理</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" th:class="${flag=='task'?'nav-link active':'nav-link'}" th:href="@{/task/list}">
            <span class="align-middle">任务汇总</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" th:class="${flag=='story'?'nav-link active':'nav-link'}" th:href="@{/story/list}">
            <span class="align-middle">测试需求管理</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" th:class="${flag=='plan'?'nav-link active':'nav-link'}" th:href="@{/plan/list}">
            <span class="align-middle">测试计划管理</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" th:class="${flag=='case'?'nav-link active':'nav-link'}" th:href="@{/case/list}">
            <span class="align-middle">测试用例</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" th:class="${flag=='bug'?'nav-link active':'nav-link'}" th:href="@{/bug/list}">
            <span class="align-middle">问题单(BUG)</span>
        </a>
    </li>
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!--菜单样式2-->
<div class="hover-scroll-overlay-y px-2 my-5 my-lg-5" id="aside_menu_wrapper" style="height: 500px"
     th:fragment="sidebarMenu2">
    <div class="menu menu-column menu-title-gray-800 menu-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold"
         id="aside_menu" data-menu="true">
        <div class="menu-item">
            <a href="#" th:class="${flag=='dashboard'?'menu-link active':'menu-link'}" th:href="@{/dashboard}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </div>
        <div class="menu-item">
            <a th:class="${flag=='project'?'menu-link active':'menu-link'}" href="#"
               th:href="@{/project/list}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">项目管理</span>
            </a>
        </div>
        <div class="menu-item">
            <a th:class="${flag=='task'?'menu-link active':'menu-link link-dark'}" href="#"
               th:href="@{/task/list}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">任务汇总</span>
            </a>
        </div>
        <div class="menu-item">
            <a th:class="${flag=='story'?'menu-link active':'menu-link link-dark'}" href="#"
               th:href="@{/story/list}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">测试需求管理</span>
            </a>
        </div>
        <div class="menu-item">
            <a th:class="${flag=='plan'?'menu-link active':'menu-link link-dark'}" href="#"
               th:href="@{/plan/list}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">测试计划管理</span>
            </a>
        </div>
        <div class="menu-item">
            <a th:class="${flag=='case'?'menu-link active':'menu-link link-dark'}" href="#"
               th:href="@{/case/list}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">测试用例</span>
            </a>
        </div>
        <div class="menu-item">
            <a th:class="${flag=='bug'?'menu-link active':'menu-link link-dark'}" href="#"
               th:href="@{/bug/list}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                <span class="menu-title">问题单(BUG)</span>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="footer" class="sticky-footer bg-white" th:fragment="footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © TSIM 2021</span>
        </div>
    </div>

</footer>
<!-- End of Footer -->
<!--分页-->
<div id="pagination01" class="d-flex flex-stack flex-wrap pt-6" th:fragment="pagination01">
    <div></div>
    <ul class="pagination" th:if="${iPage.pages>0}">
        <li class="page-item">
            <a class="page-link" href="#" th:if="${iPage.current == 1}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <a class="page-link" th:href="@{${redirecting} + ${iPage.getCurrent()-1}}"
               th:if="${iPage.current > 1}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:each="i:${#numbers.sequence(1,iPage.pages)}"
            th:class="${iPage.current == i} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{${redirecting}+${i}}" th:text="${i}">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" th:if="${iPage.current == iPage.pages}">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a class="page-link" th:href="@{${redirecting}+${iPage.getCurrent()+1}}" aria-label="Next"
               th:if="${iPage.current < iPage.pages}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/user/exit}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- toast-->
<div class="toast position-fixed top-0 end-0 p-3 z-index-3" role="alert" aria-live="assertive" aria-atomic="true"
     th:fragment="toast-div">
    <div class="d-flex">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
</div>
<!--右侧顶部菜单-->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="nav-on-main-top">
    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
        <i class="fa fa-bars"></i>
    </button>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="暂时没用到这个搜索，点了也没用..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="bi-search"></i>
                </button>
            </div>
        </div>
    </form>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow d-sm-none"></li>
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-bell"></i>
                <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">

            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1"></li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow show">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.account.username}">11's papa</span>
                <img class="img-profile rounded-circle" src="/static/img/undraw_profile.svg" th:src="@{/img/undraw_profile.svg}">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="bi bi-person mr-2 text-gray-400"> Profile</i>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="bi bi-gear mr-2 text-gray-400"> Settings</i>
                </a>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    <i class="bi bi-box-arrow-right mr-2 text-gray-400"> logout</i>
                </a>
            </div>
        </li>
    </ul>
</nav>
