<!--header-->
<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow" th:fragment="top-header">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" th:href="@{/dashboard}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-emoji-laughing"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TSIM <sup>2</sup></div>
    </a>
    <!--    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">-->
    <!--        Button with data-bs-target-->
    <!--    </button>-->
    <!--    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <div class="container-fluid">
        <!--        <div id="alerts">-->
        <!--            <ul class="nav nav-pills">-->
        <!--                &lt;!&ndash; Nav Item - Alerts &ndash;&gt;-->
        <!--                <li class="nav-item dropdown no-arrow mx-1">-->
        <!--                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"-->
        <!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--                        <i class="bi bi-bell"></i>-->
        <!--                        &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
        <!--                        <span class="badge badge-danger badge-counter">3+</span>-->
        <!--                    </a>-->
        <!--                    &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
        <!--                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
        <!--                         aria-labelledby="alertsDropdown">-->
        <!--                        <h6 class="dropdown-header">-->
        <!--                            Alerts Center-->
        <!--                        </h6>-->
        <!--                        <a class="dropdown-item d-flex align-items-center" href="#">-->
        <!--                            <div class="mr-3">-->
        <!--                                <div class="icon-circle bg-primary">-->
        <!--                                    <i class="fas fa-file-alt text-white"></i>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div>-->
        <!--                                <div class="small text-gray-500">December 12, 2019</div>-->
        <!--                                <span class="font-weight-bold">A new monthly report is ready to download!</span>-->
        <!--                            </div>-->
        <!--                        </a>-->
        <!--                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>-->
        <!--                    </div>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <div class="offset-11" id="user-info">
            <ul class="nav nav-pills">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${session.account.username}"></span>
                    </a>
                    <!-- Dropdown - User Information -->
                    <ul class="dropdown-menu shadow" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--菜单-->
<nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="sidebarMenu">

    <div class="position-sticky pt-5" id="navbarNavDropdown">
        <ul class="nav flex-column">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a th:class="${active=='dashboard'?'nav-link active':'nav-link'}" href="#" th:href="@{/dashboard}">
                    <!--                    <i class="bi bi-speedometer2"></i>-->
                    <span data-feather="home"></span>Dashboard</a>
            </li>
            <!-- Nav Item - 项目管理 -->
            <li class="nav-item">
                <a th:class="${active=='project'?'nav-link active':'nav-link'}" href="#" th:href="@{/project/list}">
                    <i class="bi bi-card-list"></i>
                    <span>项目管理</span></a>
            </li>
            <!-- Nav Item - 任务汇总 -->
            <li class="nav-item">
                <a th:class="${active=='task'?'nav-link active':'nav-link'}" href="#" th:href="@{/task/list}">
                    <i class="bi bi-card-list"></i>
                    <span>任务汇总</span></a>
            </li>
            <!-- Nav Item - 测试需求管理 -->
            <li class="nav-item">
                <a th:class="${active=='story'?'nav-link active':'nav-link'}" href="#" th:href="@{/story/list}">
                    <i class="bi bi-card-list"></i>
                    <span>测试需求管理</span></a>
            </li>
            <!-- Nav Item - 测试计划管理 -->
            <li class="nav-item">
                <a th:class="${active=='plan'?'nav-link active':'nav-link'}" href="#" th:href="@{/plan/list}">
                    <i class="bi bi-card-list"></i>
                    <span>测试计划管理</span></a>
            </li>
            <!-- Nav Item - 测试用例 -->
            <li class="nav-item">
                <a th:class="${active=='case'?'nav-link active':'nav-link'}" href="#" th:href="@{/case/list}">
                    <i class="bi bi-card-list"></i>
                    <span>测试用例</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - 问题单 -->
            <li class="nav-item">
                <a th:class="${active=='bug'?'nav-link active':'nav-link'}" href="#" th:href="@{/bug/list}">
                    <i class="bi bi-card-list"></i>
                    <span>问题单(BUG)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--head信息-->
<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}"></title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/hover.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <meta name="author" content="11‘s papa">
</head>
<!-- Footer -->
<footer id="footer" class="py-3 my-4" th:fragment="footer">
    <p class="text-center text-muted">Copyright &copy; TSIM 2021</p>
</footer>
<!-- End of Footer -->
<!--分页-->
<div id="pagination01" th:fragment="pagination01">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center" th:if="${iPage.pages>0}">
            <li class="page-item">
                <a class="page-link" href="#" th:if="${iPage.current == 1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <a class="page-link" th:href="@{${redirecting} + ${iPage.getCurrent()-1}}"
                   th:if="${iPage.current > 1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i:${#numbers.sequence(1,iPage.pages)}"
                th:class="${iPage.current == i} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{${redirecting}+${i}}" th:text="${i}">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:if="${iPage.current == iPage.pages}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <a class="page-link" th:href="@{${redirecting}+${iPage.getCurrent()+1}}" aria-label="Next"
                   th:if="${iPage.current < iPage.pages}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/user/exit}">Logout</a>
            </div>
        </div>
    </div>
</div>
