<!--顶部导航栏-->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="top-bar">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <!--                        <form-->
    <!--                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
    <!--                            <div class="input-group">-->
    <!--                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
    <!--                                       aria-label="Search" aria-describedby="basic-addon2">-->
    <!--                                <div class="input-group-append">-->
    <!--                                    <button class="btn btn-primary" type="button">-->
    <!--                                        <i class="fas fa-search fa-sm"></i>-->
    <!--                                    </button>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </form>-->

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bell"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span th:text="${session.account.username}"></span>
                <!--                                    <img class="img-profile rounded-circle"-->
                <!--                                         src="img/undraw_profile.svg">-->
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- 左侧菜单 -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" th:fragment="sidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-emoji-laughing"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TSIM <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a th:class="${active=='dashboard'?'nav-link active':'nav-link'}" th:href="@{/dashboard}">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#collapseTwo" data-bs-toggle="collapse" aria-expanded="false"-->
    <!--           aria-controls="collapseTwo">-->
    <!--            <i class="bi bi-layers-half"></i>-->
    <!--            <span>项目管理</span>-->
    <!--        </a>-->
    <!--        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <a class="collapse-item" th:href="@{/project/projectList}">项目管理</a>-->
    <!--                <a class="collapse-item" th:href="@{/task/list}">任务汇总</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->
    <!-- Nav Item - 项目管理 -->
    <li class="nav-item">
        <a th:class="${active=='project'?'nav-link active':'nav-link'}" th:href="@{/project/projectList}">
            <i class="bi bi-bug"></i>
            <span>项目管理</span></a>
    </li>
    <!-- Nav Item - 任务汇总 -->
    <li class="nav-item">
        <a th:class="${active=='task'?'nav-link active':'nav-link'}" th:href="@{/task/list}">
            <i class="bi bi-bug"></i>
            <span>任务汇总</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Utilities Collapse Menu -->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#collapseUtilities" data-bs-toggle="collapse"-->
    <!--           aria-expanded="false" aria-controls="collapseUtilities">-->
    <!--            <i class="bi bi-layers-half"></i>-->
    <!--            <span>测试用例管理</span>-->
    <!--        </a>-->
    <!--        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"-->
    <!--             data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->

    <!--                <a class="collapse-item" th:href="@{/story/list}">测试需求管理</a>-->
    <!--                &lt;!&ndash;                <a class="collapse-item" href="#">测试需求管理</a>&ndash;&gt;-->
    <!--                <a class="collapse-item" th:href="@{/plan/list}">测试计划管理</a>-->
    <!--                &lt;!&ndash;                <a class="collapse-item" href="#">测试计划管理</a>&ndash;&gt;-->
    <!--                <a class="collapse-item" th:href="@{/case/case_list}">测试用例</a>-->
    <!--                <a class="collapse-item" href="#">Other</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->
    <!-- Nav Item - 测试需求管理 -->
    <li class="nav-item">
        <a th:class="${active=='story'?'nav-link active':'nav-link'}" th:href="@{/story/list}">
            <i class="bi bi-bug"></i>
            <span>测试需求管理</span></a>
    </li>
    <!-- Nav Item - 测试计划管理 -->
    <li class="nav-item">
        <a th:class="${active=='plan'?'nav-link active':'nav-link'}" th:href="@{/plan/list}">
            <i class="bi bi-bug"></i>
            <span>测试计划管理</span></a>
    </li>
    <!-- Nav Item - 测试用例 -->
    <li class="nav-item">
        <a th:class="${active=='case'?'nav-link active':'nav-link'}" th:href="@{/case/case_list}">
            <i class="bi bi-bug"></i>
            <span>测试用例</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - 问题单 -->
    <li class="nav-item">
        <a th:class="${active=='bug'?'nav-link active':'nav-link'}" th:href="@{/bug/list}">
            <i class="bi bi-bug"></i>
            <span>问题单(BUG)</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle">
            <i class="bi bi-list"></i>
        </button>
    </div>

</ul>
<!-- 左侧菜单结束 -->
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/sb-admin-2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/hover.css}">
    <!--        toast插件-->
    <!--        <link rel="stylesheet" th:href="@{/plugins/iziToast.min.css}">-->
    <meta name="author" content="11‘s papa">
</head>

<!-- Footer -->
<footer class="sticky-footer bg-white" th:fragment="footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; TSIM 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!--分页-->
<div id="pagination01" th:fragment="pagination01">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center" th:if="${iPage.pages>0}">
            <li class="page-item">
                <a class="page-link" href="#" th:if="${iPage.current == 1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <a class="page-link" th:href="@{${redirecting} + ${iPage.getCurrent()-1}}"
                   th:if="${iPage.current > 1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i:${#numbers.sequence(1,iPage.pages)}"
                th:class="${iPage.current == i} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{${redirecting}+${i}}" th:text="${i}">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:if="${iPage.current == iPage.pages}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <a class="page-link" th:href="@{${redirecting}+${iPage.getCurrent()+1}}" aria-label="Next"
                   th:if="${iPage.current < iPage.pages}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
