
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/sb-admin-2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/hover.css}">
    <!--        toast插件-->
    <!--        <link rel="stylesheet" th:href="@{/plugins/iziToast.min.css}">-->
    <meta name="author" content="11‘s papa">
</head>

<!-- Footer -->
<footer class="sticky-footer bg-white" th:fragment="footer" id="footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; TSIM 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
