<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="11‘s papa">
        <title></title>
    </head>
    <body>
        <div id="pagination01" th:fragment="pagination01">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center" th:if="${iPage.pages>0}">
                    <li class="page-item">
                        <a class="page-link" href="#" th:if="${iPage.current == 1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a class="page-link" th:href="@{${redirecting} + ${iPage.getCurrent()-1}}"
                           th:if="${iPage.current > 1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="i:${#numbers.sequence(1,iPage.pages)}"
                        th:class="${iPage.current == i} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{${redirecting}+${i}}" th:text="${i}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" th:if="${iPage.current == iPage.pages}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a class="page-link" th:href="@{${redirecting}+${iPage.getCurrent()+1}}" aria-label="Next"
                           th:if="${iPage.current < iPage.pages}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
