<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="addCaseFragment">
            <div class="modal fade" id="add-case-modal" tabindex="-1" aria-labelledby="addCaseModalLabel"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <form th:action="@{/case/save}" method="post" id="add-case-from" autocomplete="off">
                            <div class="modal-header">
                                <h5 class="modal-title bg-light" id="addCaseModalLabel">添加测试用例</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text required" id="basic-addon1" style="color: #bb2d3b">项目名称
                                        <!--                                        <i class="bi bi-asterisk" style="font-size: 0.3rem; color: red"></i>-->
                                    </span>
                                    <input id="projectId" class="form-control" aria-label="项目名称" required
                                           placeholder="填写项目名称">
                                    <input type="hidden" name="projectId" id="c-a-p">
                                </div>
                                <p class="fst-italic text-danger mb-0" style="font-size: 0.5rem">
<!--                                    <i class="bi-exclamation-circle" style="color: #bb2d3b"></i>  录入正确的模块名称后再录入其他的参数。失去焦点后会自动创建模块信息。</p>-->
                                <div class="input-group mb-3">
                                    <span class="input-group-text required" id="suite-span" style="color: #bb2d3b">模块名称</span>
                                    <input id="moduleId" class="form-control"
                                           required aria-label="模块名称"
                                           aria-describedby="suite-span" placeholder="填写模块名称">
                                    <input type="hidden" name="moduleId" id="m-a">
                                </div>
<!--                                <div class="input-group mb-3">-->
<!--                                    <span class="input-group-text required" id="c-s-r">关联需求</span>-->
<!--                                    <input id="case-story" class="form-control" aria-label="关联需求"-->
<!--                                           aria-describedby="suite-span" placeholder="填写关联需求">-->
<!--                                    <input type="hidden" name="storyId" id="add-case-story">-->
<!--                                </div>-->
                                <div class="input-group mb-3">
                                    <span class="input-group-text required" id="title-span" style="color: #bb2d3b">测试用例标题</span>
                                    <input name="name" id="caseTitle" type="text"
                                           class="form-control" placeholder="输入测试用例标题"
                                           aria-label="测试用例标题"
                                           aria-describedby="title-span"
                                           required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="summary-span">测试用例描述</span>
                                    <input class="form-control" name="description" id="caseSummary"
                                              placeholder="输入测试用例描述" aria-label="测试用例描述"
                                              aria-describedby="summary-span">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="pre-span">前提条件</span>
                                    <input class="form-control " name="precondition" id="casePrecondition"
                                              placeholder="前提条件" aria-label="前提条件"
                                              aria-describedby="pre-span">
                                </div>
                                <div class="row g-3">
                                    <div class="mb-3 col-md-4">
                                        <select class="form-select" aria-label="priority" name="priority"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="测试用例优先级">
                                            <option value="0">低</option>
                                            <option value="1" selected>中</option>
                                            <option value="2">高</option>
                                        </select>
                                    </div>
                                    <div class=" mb-3 col-md-4">
                                        <select class="form-select" aria-label="testMode" name="testMode"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="测试用例执行方式">
                                            <option value="0" selected>手动测试</option>
                                            <option value="1">自动测试</option>
                                        </select>
                                    </div>
                                    <div class=" mb-3 col-md-4">
                                        <select class="form-select" aria-label="workDate" id="workDate" name="workDate"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="此字段值用于和项目统计关联使用">
                                            <option th:each="m:${monthList}"
                                                    th:value="${m}"
                                                    th:text="${m}"
                                                    th:selected="${#dates.format(#dates.createToday(),'yyyy-MM') eq m}">
                                        </select>
                                    </div>
                                </div>
                                <div id="case-area">
                                    <div>
                                        <a href="#" id="AddMoreFileBox" class="btn btn-info btn-sm"
                                           onclick="addCaseStep()">添加测试步骤</a>
                                    </div>
                                    <input id="caseSteps" name="stepStore" type="hidden" class="form-control">
                                    <input id="caseExpectedResults" name="resultStore" type="hidden"
                                           class="form-control">
                                    <div id="case-step-area">
                                        <div class="position-relative" id="toast-div"></div>
                                        <div class="row rounded" id="row_1">
                                            <div style="width: 47%;">
                                                <label for="caseSteps_1" class="form-label">测试步骤</label>
                                                <input name="caseSteps[]" id="caseSteps_1" type="text" class="form-control line_under_input">
                                            </div>
                                            <div style="width: 47%;">
                                                <label for="caseExpectedResults_1" class="form-label">预期结果</label>
                                                <input name="caseExpectedResults[]" id="caseExpectedResults_1" type="text" class="form-control line_under_input">
                                            </div>
                                            <div class="position-relative" style="width: 6%;">
                                                <a class="position-absolute top-50 start-50">
                                                    <i class="bi bi-backspace" style="color: #bb2d3b" id="del" onclick="removeCaseStep(this)"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="saveCaseInfo()" id="submit">保存</button>
                                <button type="button" class="btn btn-secondary" id="add_case_cancel" data-bs-dismiss="modal">关闭</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
