<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{})">
    <title>TSIM @ CASE</title>
</head>
<body id="tsim_body" class="aside-enable">
<div th:replace="/fragment/commons_v2 :: 2nd-navigation(moduleflag='case',liFlag='case')"></div>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <!--操作栏-->
                <div class="pt-2 border-bottom">
                    <form id="search-form">
                        <div class="btn-group mb-2" role="group" aria-label="search">
                            <div class="input-group me-2" style="width:15%">
                                <span class="input-group-text" id="basic-addon1">所属项目</span>
                                <input type="text" class="form-control" name="projectId" id="p-search"
                                       placeholder="项目名称（模糊查询）" aria-label="projectId"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group me-2" style="width:20%">
                                <span class="input-group-text" id="basic-addon2">所属模块</span>
                                <input type="text" class="form-control" name="moduleId"
                                       placeholder="模块名称（模糊查询）"
                                       aria-label="moduleId" id="m-search"
                                       aria-describedby="basic-addon2">
                            </div>
                            <div class="input-group me-2" style="width:20%">
                                <span class="input-group-text" id="basic-addon3">测试用例标题</span>
                                <input type="text" class="form-control" name="name" placeholder="标题（模糊查询）"
                                       aria-label="name" id="name-search"
                                       aria-describedby="basic-addon3">
                            </div>
                            <select class="form-select me-2" style="width: fit-content"
                                    aria-label="priority" name="priority" id="priority-search">
                                <option value="" selected>优先级</option>
                                <option value="0">低</option>
                                <option value="1">中</option>
                                <option value="2">高</option>
                            </select>
                            <select class="form-select me-2" aria-label="active" name="active"
                                    id="active-search" style="width: fit-content">
                                <option value="" selected>是否有效</option>
                                <option value="0">有效</option>
                                <option value="1">无效</option>
                            </select>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary hvr-grow me-1" id="search-button"
                                        title="查询">
                                    <i class="bi bi-search"></i>
                                </button>
                                <button type="button" class="btn btn-info hvr-grow me-1"
                                        data-bs-toggle="modal" data-bs-target="#add-case-modal" title="添加"
                                        onclick="addData()">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                                <!-- 导出模板数据-->
                                <a type="button" class="btn btn-primary hvr-grow me-1"
                                   th:href="@{/case/downloadTemplate/test-case-template.xlsx}" title="模板下载">
                                    <i class="bi bi-download"></i>
                                </a>
                                <!--                                //导入数据-->
                                <button type="button" class="btn btn-primary hvr-grow me-1" data-bs-toggle="modal"
                                        data-bs-target="#case-upload-modal" id="import" title="导入数据">
                                    <i class="bi bi-cloud-arrow-up"></i>
                                </button>
                                <button type="button" class="btn btn-primary hvr-grow me-1" id="export-case"
                                        title="导出数据" onclick="exportCase()">
                                    <i class="bi bi-cloud-arrow-down"></i>
                                </button>
                                <button type="button" class="btn btn-warning hvr-grow me-1" id="batch-disable"
                                        title="置为无效"
                                        onclick="updateCase('disable')" disabled><i class="bi-x-circle"></i></button>
                                <button type="button" class="btn btn-danger hvr-grow me-1" id="batch-delete" title="删除"
                                        onclick="updateCase('del')" disabled><i class="bi-trash"></i></button>
                                <button type="button" class="btn btn-secondary hvr-grow " id="reset-button"
                                        title="重置搜索">
                                    <i class="bi-arrow-clockwise"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--            列表数据-->
                <div id="table_refresh" th:fragment="table_refresh">
                    <table id="table" class="table table-hover">
                    </table>
                </div>
            </div>
        </div>
        <footer th:replace="/fragment/commons :: footer"></footer>
    </div>
</div>

<!-- 添加问题单Modal弹框 -->
<div th:replace="~{test-case/add_case_modal::addCaseFragment}"></div>
<div th:replace="~{test-case/detailModal::caseDetailFragment}"></div>
<div th:replace="~{test-case/uploadCase::uploadModal}"></div>
<!--                    toast-->
<div th:replace="/fragment/commons :: toast-div"></div>
<div th:replace="/fragment/commons :: confirm-modal"></div>
<!-- Logout Modal-->
<div th:replace="/fragment/commons :: logout"></div>
<div th:replace="/fragment/commons :: generalJS"></div>
<script type="text/javascript" th:src="@{/global/js/t-case.js}"></script>
<script type="text/javascript" th:src="@{/global/js/t-auto-run.js}"></script>
<script type="text/javascript" th:src="@{/global/js/upload-file.js}"></script>
<script th:inline="javascript">
    'use strict';
    const $addModal = $('#add-case-modal');
    const _table_columns = [
        {field: 'id', align: 'center', title: 'id', visible: false},
        {field: 'checked', checkbox: true, align: "center", width: '40'}, {
            field: 'projectId',
            align: 'center',
            title: '所属项目',
            class: 'col-sm-4',
            formatter: function (value, row, index) {
                return row.project.projectName;
            }
        }, {
            field: 'moduleId',
            align: 'center',
            title: '所属模块',
            class: 'col-sm-4',
            formatter: function (value, row, index) {
                return row.module.moduleName;
            }
        }, {
            field: 'name',
            align: 'center',
            title: '测试用例标题', cellStyle: function (value, row, index) {
                if (row.active === 1) {
                    // 测试用例无效时，改变底色
                    return {
                        css: {
                            'background-color': '#797b7e',
                            'max-width': '150px',
                            'text-overflow': 'ellipsis',
                            'overflow': 'hidden',
                            'white-space': 'nowrap'
                        }
                    };
                }
                return {
                    css: {
                        'max-width': '150px',
                        'text-overflow': 'ellipsis',
                        'overflow': 'hidden',
                        'white-space': 'nowrap'
                    },
                }
            }, formatter: paramsMatter,
            class: 'col-sm-4'
        }, {
            field: 'description',
            align: 'center',
            title: '测试用例描述', cellStyle: function (value, row, index) {
                if (row.active === 1) {
                    // 测试用例无效时，改变底色
                    return {
                        css: {
                            'background-color': '#797b7e',
                            'max-width': '150px',
                            'text-overflow': 'ellipsis',
                            'overflow': 'hidden',
                            'white-space': 'nowrap'
                        }
                    };
                }
                return {
                    css: {
                        'max-width': '150px',
                        'text-overflow': 'ellipsis',
                        'overflow': 'hidden',
                        'white-space': 'nowrap'
                    },
                }
            }, formatter: paramsMatter,
            class: 'col-sm-4'
        },
        {
            field: 'stepStore',
            align: 'center',
            title: '测试用例步骤',
            class: 'col-sm-6', cellStyle: function (value, row, index) {
                if (row.active === 1) {
                    // 测试用例无效时，改变底色
                    return {
                        css: {
                            'background-color': '#797b7e',
                            'max-width': '150px',
                            'text-overflow': 'ellipsis',
                            'overflow': 'hidden',
                            'white-space': 'nowrap'
                        }
                    };
                }
                return {
                    css: {
                        'max-width': '150px',
                        'text-overflow': 'ellipsis',
                        'overflow': 'hidden',
                        'white-space': 'nowrap'
                    },
                }
            },
            formatter: stepFormatter
        },
        {
            field: 'resultStore',
            align: 'center',
            title: '预期结果',
            class: 'col-sm-6', cellStyle: function (value, row, index) {
                if (row.active === 1) {
                    // 测试用例无效时，改变底色
                    return {
                        css: {
                            'background-color': '#797b7e',
                            'max-width': '150px',
                            'text-overflow': 'ellipsis',
                            'overflow': 'hidden',
                            'white-space': 'nowrap'
                        }
                    };
                }
                return {
                    css: {
                        'max-width': '150px',
                        'text-overflow': 'ellipsis',
                        'overflow': 'hidden',
                        'white-space': 'nowrap'
                    },
                }
            },
            formatter: stepResultFormatter
        },
        {
            field: 'priority',
            align: 'center',
            title: '优先级',
            class: 'col-sm-2',
            formatter: function (value, row, index) {
                let _priority = '';
                switch (value) {
                    case '0':
                        _priority = '<span class="badge bg-danger">P0</span>';
                        break
                    case '1':
                        _priority = '<span class="badge bg-warning">P1</span>';
                        break
                    case '2':
                        _priority = '<span class="badge bg-info">P2</span>';
                        break
                }
                return _priority;
            }
        },
        {
            field: 'caseType',
            align: 'center',
            title: '类型',
            class: 'col-sm-2',
            formatter: function (value, row, index) {
                let _priority = '';
                switch (value) {
                    case '0':
                        _priority = '功能测试';
                        break
                    case '1':
                        _priority = '接口测试';
                        break
                    case '2':
                        _priority = '性能测试';
                        break
                }
                return _priority;
            }
        },
        {
            title: '操作',
            align: 'center',
            field: 'id',
            class: 'col-sm-4',
            formatter: function option(value, row, index) {
                const _detail = '<button class="btn btn-sm btn-info me-1" data-bs-toggle="modal" data-bs-target="#case-detail-modal" onclick="detailCase(\'' + row.id + '\')">' +
                    '<i class="bi-journal-text" title="查看"></i></button>';
                const _edit = '<button class="btn btn-sm btn-warning me-1" data-bs-toggle="modal" data-bs-target="#add-case-modal" onclick="editCase(\'' + row.id + '\')">' +
                    '<i class="bi-pencil-square" title="编辑"></i></button>';
                const r = '<button disabled class="btn btn-sm btn-warning" onclick="runCase(\'' + row.id + '\')">run</button>';
                return _edit + _detail;
            },
        }
    ]

    //测试步骤封装
    function stepFormatter(value, row, index) {
        const stepJsonArray = JSON.parse(row.stepStore);
        let step_result = '';
        for (let i = 0; i < stepJsonArray.length; i++) {
            const temp_step_json = JSON.parse(JSON.stringify(stepJsonArray[i]));
            const tempStepJsonElement = JSON.stringify(temp_step_json[i]);
            const map1 = eval("(" + tempStepJsonElement + ")");
            step_result = step_result + map1.t_s + "\r\n";
        }
        const span = document.createElement('span');
        span.setAttribute('title', step_result);
        span.innerHTML = step_result;
        return span.outerHTML;
        // return step_result;
    }

    // 预期结果封装
    function stepResultFormatter(value, row, index) {
        const stepJsonArray = JSON.parse(row.stepStore);
        let step_result = '';
        for (let i = 0; i < stepJsonArray.length; i++) {
            const temp_step_json = JSON.parse(JSON.stringify(stepJsonArray[i]));
            const tempStepJsonElement = JSON.stringify(temp_step_json[i]);
            const map1 = eval("(" + tempStepJsonElement + ")");
            step_result = step_result + map1.t_r + "\r\n";
        }
        const span = document.createElement('span');
        span.setAttribute('title', step_result);
        span.innerHTML = step_result;
        return span.outerHTML;
    }

    function addData() {
        $('.modal-title').text("添加测试用例");
        $('#add-case-from')[0].reset()  //重置表单
    }

    // 查看测试用例数据
    function detailCase(id) {
        $('#case-detail-modal').on('shown.bs.modal', function () {
            $.ajax({
                    url: '/case/queryCase/' + id + '?time=' + new Date().getTime(),
                    type: 'get',
                    // dataType: 'JSON',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (arg) {
                        $("#project-id-detail").val(arg['data'].project.projectName).attr('readonly', true);
                        $("#module-id-detail").val(arg['data'].module.moduleName).attr('readonly', true);
                        $("#case-title-detail").val(arg['data'].name).attr('readonly', true);
                        $("#case-desc-detail").val(arg['data'].description).attr('readonly', true);
                        $("#case-precondition-detail").val(arg['data'].precondition).attr('readonly', true);
                        select_option_checked('owner-detail', arg['data'].caseOwner);
                        select_option_checked('test-mode-detail', arg['data'].testMode);
                        select_option_checked('case-type-detail', arg['data'].caseType);
                        select_option_checked('priority-detail', arg['data'].priority);
                        $('#owner-detail').attr('disabled', true);
                        $('#test-mode-detail').attr('disabled', true);
                        $('#case-type-detail').attr('disabled', true);
                        $('#priority-detail').attr('disabled', true);
                        $('#ref-plan-detail').attr('readonly', true);
                        // 填充测试步骤
                        loadStepAndResult(arg);
                    }
                }
            )
        })
    }


    // 编辑测试用例数据
    function editCase(id) {
        const _modal = $addModal;
        document.getElementById('add-case-modal').querySelector('.modal-title').textContent = id ? '编辑测试用例' : '添加测试用例';
        _modal.on('shown.bs.modal', function () {
            $('#submit').show();
            $('#AddMoreFileBox').show();
            const elementById = document.getElementById('row_1');
            elementById && elementById.remove();
            $.ajax({
                    url: '/case/queryCase/' + id + "?time=" + new Date().getTime(),
                    type: 'post',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (arg) {
                        $("#hidden-case-id").val(arg['data'].id);
                        $("#hidden-project-id").val(arg['data'].project.id);
                        $("#projectId").val(arg['data'].project.projectName);
                        $("#m-a").val(arg['data'].moduleId);
                        $("#moduleId").val(arg['data'].module.moduleName);
                        $("#caseTitle").val(arg['data'].name);
                        $("#caseSummary").val(arg['data'].description);
                        $("#casePrecondition").val(arg['data'].precondition);
                        select_option_checked('owner', arg['data'].caseOwner);
                        select_option_checked('test-mode', arg['data'].testMode);
                        select_option_checked('case-type', arg['data'].caseType);
                        select_option_checked('priority', arg['data'].priority);
                        // 填充测试步骤
                        const _steps = arg['data'].caseSteps;
                        const case_div = document.getElementById('case-step-area');
                        for (let i = 0; i < _steps.length; i++) {
                            const _temp_step_item_div = document.createElement('div');
                            _temp_step_item_div.className = 'row step-row';
                            _temp_step_item_div.id = 'row' + i;
                            // 测试用例步骤
                            const _temp_step_input = document.createElement('input');
                            _temp_step_input.className = "line_under_input";
                            _temp_step_input.style = "width: 47%";
                            _temp_step_input.id = "step" + i;
                            $(_temp_step_input).val(_steps[i].caseStep);
                            _temp_step_item_div.appendChild(_temp_step_input)
                            // 测试用例预期结果
                            const _temp_result_input = document.createElement('input');
                            _temp_result_input.className = "line_under_input";
                            _temp_result_input.style = "width: 47%";
                            _temp_result_input.id = "result" + i;
                            $(_temp_result_input).val(_steps[i].caseStepResult);
                            // 删除标签
                            const _temp_del_label = document.createElement('a');
                            // _temp_del_label.className = "position-absolute top-50 start-50";
                            _temp_del_label.style = "width: 6%;";
                            _temp_del_label.title = "移除本条";
                            const _temp_i_label = document.createElement('i');
                            _temp_i_label.className = "bi bi-backspace";
                            _temp_i_label.style = "color: #bb2d3b";
                            _temp_i_label.id = "remove" + i;
                            _temp_i_label.onclick = "removeCaseStep(this)";
                            _temp_del_label.appendChild(_temp_i_label);

                            _temp_step_item_div.appendChild(_temp_step_input)
                            _temp_step_item_div.appendChild(_temp_result_input)
                            _temp_step_item_div.appendChild(_temp_del_label)
                            case_div.appendChild(_temp_step_item_div);
                        }
                    }
                }
            )
            _modal.off('shown.bs.modal');
        })
    }

    // 查询条件
    const _search_params = function (params) {
        return {
            projectName: $('#p-search').val().trim(), // 自定义查询条件
            moduleName: $('#m-search').val().trim(), // 自定义查询条件
            caseName: $('#name-search').val().trim(), // 自定义查询条件
            priority: $('#priority-search').val(), // 优先级
            active: $('#active-search').val(), // 是否有效
            'globalProject': $('#globalProject').val(),
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,
        }
    };
    /**
     * 设置行颜色
     * @param row
     * @param index
     * @returns {{css: {"background-color": string}}|{}}
     */
    const _rowStyle = (row, index) => {
        if (row.active === 1) {
            // 测试用例无效时，改变底色
            return {css: {'background-color': '#797b7e'}};
        }
        return {};
    }
    InitTable('/case/reloadTable', 'get', _table_columns, _search_params, '', _rowStyle);

    $addModal.on('show.bs.modal', function (event) {
        $("input[type=hidden][id='hidden-project-id']").val('');
        $("input[type=hidden][id='m-a']").val('');
        $("input[type=hidden][id='add-case-ref-plan']").val('');
    });

    // 窗口关闭时清空测试用例步骤数据。
    $addModal.on('hide.bs.modal', function () {
        const className = document.getElementById('case-step-area').getElementsByTagName('div');
        for (let i = className.length - 1; i >= 0; i--) {
            className.item(i).remove();
        }
        document.getElementById('add-case-from').reset();
    })
</script>
<script>
    <!--    自动提示-->
    // 项目
    autoComplete4Project(true, '#projectId', '#hidden-project-id');

    // 模块
    $("#moduleId")[0].addEventListener("focus", function () {
        const _projectId = $("#hidden-project-id").attr("value");
        autoComplete4Module(true, '#moduleId', '#m-a', _projectId);
    });
    //测试计划
    $("#ref-plan")[0].addEventListener("focus", function () {
        const _projectId = $("#hidden-project-id").attr("value");
        autoComplete4Plan(true, '#ref-plan', '#add-case-ref-plan', _projectId);
    });
</script>
</body>
</html>
