<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TSIM @ CASE</title>
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <link th:href="@{/css/bs/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/icons/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/iziToast.min.css}">
        <link rel="stylesheet" th:href="@{/css/hover.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div class="container-fluid" role="navigation" th:include="/navbar/nav_1 :: nav1"></div>
        <div class="container-fluid">
            <!--操作栏-->
            <div class="card pt-2">
                <div class="card-body">
                    <form th:action="@{case_list}" method="get">
                        <div class="row">
                            <div class="input-group mb-3" style="width: 15%">
                                <span class="input-group-text" id="basic-addon1">所属项目</span>
                                <input type="text" class="form-control" name="projectId" placeholder="项目名称（模糊查询）" aria-label="projectId"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3" style="width: 15%">
                                <span class="input-group-text" id="basic-addon2">所属模块</span>
                                <input type="text" class="form-control" name="moduleId" placeholder="模块名称（模糊查询）" aria-label="moduleId"
                                       aria-describedby="basic-addon2">
                            </div>
                            <div class="input-group mb-3 " style="width: 15%">
                                <span class="input-group-text" id="basic-addon3">测试用例标题</span>
                                <input type="text" class="form-control" name="name" placeholder="标题（模糊查询）" aria-label="name"
                                       aria-describedby="basic-addon3">
                            </div>
                            <select class="form-select mb-3" style="width: 6%" aria-label="priority" name="priority">
                                <option th:value="' '" selected>优先级</option>
                                <option value="0">低</option>
                                <option value="1">中</option>
                                <option value="2">高</option>
                            </select>
                            <select class="form-select mb-3" style="width: 6%" aria-label="active" name="active">
                                <option value="0">有效</option>
                                <option value="1">无效</option>
                            </select>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <button type="submit" class="btn hvr-grow"><i class="bi bi-search" style="color: cornflowerblue"></i></button>
                                <button type="button" class="btn"
                                        data-bs-toggle="modal" data-bs-target="#add-case-modal"><i class="bi bi-plus-circle hvr-grow" style="color: cornflowerblue"></i>
                                </button>
                                <!--                                // 导出数据-->
                                <a class="btn btn-light mb-3 mb-lg-0 hvr-grow" onclick="exportExcel()">
                                    <i class="bi bi-download"></i>
                                </a>
                                <!--                                //导入数据-->
                                <a class="btn btn-light mb-3 mb-lg-0 hvr-grow" data-bs-toggle="modal"
                                   data-bs-target="#uploadModal">
                                    <i class="bi bi-upload"></i>
                                </a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!--            列表数据-->
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">所属项目</th>
                        <th scope="col">所属模块</th>
                        <th scope="col">标题</th>
                        <th scope="col">描述</th>
                        <th scope="col">前置条件</th>
                        <th scope="col">优先级</th>
                        <th scope="col">是否有效</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="temp,stat:${iPage.records}" class="text-center">
                        <input name="id" type="hidden" class="form-control"
                               th:value="${temp.id}" id="id">
                        <td th:text="${stat.index+1}"></td>
                        <td th:text="${temp.project.projectName}"></td>
                        <td th:text="${temp.module.moduleName}"></td>
                        <td th:text="${temp.name}"></td>
                        <td th:text="${temp.description}"></td>
                        <td th:text="${temp.precondition}"></td>
                        <td th:switch="${temp.priority}">
                            <span th:case="0" th:text="低"></span>
                            <span th:case="1" th:text="中"></span>
                            <span th:case="2" th:text="高"></span>
                        </td>
                        <td th:switch="${temp.active}">
                            <div class="form-check form-switch">
                                <span th:case="0">
                                    <input class="form-check-input" type="checkbox" id="un-del" checked
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="un-del"></label>
                                </span>
                                <span th:case="1">
                                    <input class="form-check-input" type="checkbox" id="del"
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="del"></label>
                                </span>
                            </div>
                        </td>
                        <td>
                            <a type="button" class="btn" id="case-detail" data-whatever="detail"
                               data-bs-toggle="modal" data-bs-target="#case-detail-modal"><i
                                    class="bi bi-card-text hvr-grow" style="color: cornflowerblue"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="查看详情"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 添加问题单Modal弹框 -->
        <div th:replace="~{test-case/add_case_modal::addCaseFragment}"></div>
        <div th:replace="~{test-case/detailModal::caseDetailFragment}"></div>
        <div th:replace="~{test-case/uploadCase::uploadModal}"></div>
        <!--        分页-->
        <div th:replace="/fragment/pagination_fragment :: pagination01"></div>
        <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bs/bootstrap.js}"></script>
        <script type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/fragment/add-case.js}"></script>
        <script type="text/javascript" th:src="@{/js/fragment/case.edit.detail.js}"></script>
        <script>
            // 更新项目状态
            function updateStatus(caseId) {
                $.ajax({
                    url: '/case/updateCaseStatus/',
                    type: 'POST',
                    data: {
                        caseId: caseId
                    },
                    dataType: 'JSON',
                    success: function (arg) {
                        // console.log( arg['result']);
                        const msg = arg['msg'];
                        if (Object.is(arg['code'], 200)) {
                            iziToast.show({
                                    // title: 'Success',
                                    message: msg,
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'green'
                                }
                            );
                        } else {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'red'
                                }
                            );
                        }
                    }
                })
            }

            function upload_case() {
                const formData = new FormData(document.getElementById('singleFileUploadInput'));
                // const file = $('#singleFileUploadInput').get(0).files[0];
                // formData.append("file", file);
                $.ajax({
                    url: '/case/upload/',
                    type: 'POST',
                    data: formData,
                    // dataType: 'JSON',
                    contentType: false,
                    processData: false,
                    success: function (arg) {
                        // console.log( arg['result']);
                        const msg = arg['msg'];
                        if (Object.is(arg['code'], 200)) {
                            iziToast.show({
                                    // title: 'Success',
                                    message: msg,
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'green'
                                }
                            );
                            location.reload();
                        } else {
                            iziToast.show({
                                    // title: 'Success',
                                    message: arg['msg'],
                                    position: 'topRight',
                                    timeout: 2000,
                                    color: 'red'
                                }
                            );
                        }
                    }
                })
            }
        </script>
    </body>
</html>
