<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="/fragment/head_footer :: header('TSIM @ BUG')"/>
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- 左侧菜单 -->
            <ul th:replace="/fragment/sidebar-left :: #accordionSidebar"></ul>
            <!-- 左侧菜单结束 -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- 右侧顶部导航栏 -->
                    <nav th:replace="/fragment/topbar::#top-bar"></nav>
                    <!-- 右侧顶部导航栏结束 -->
                    <div class="container-fluid">
                        <div id="liveAlertPlaceholder">
                        </div>
                        <!--操作栏-->
                        <div class="card pt-2">
                            <div class="card-body">
                                <form th:action="@{case_list}" method="get">
                                    <div class="row">
                                        <div class="input-group mb-3" style="width: fit-content">
                                            <span class="input-group-text" id="basic-addon1">所属项目</span>
                                            <input type="text" class="form-control" name="projectId" id="p-search"
                                                   placeholder="项目名称（模糊查询）" aria-label="projectId"
                                                   aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3" style="width: fit-content">
                                            <span class="input-group-text" id="basic-addon2">所属模块</span>
                                            <input type="text" class="form-control" name="moduleId" placeholder="模块名称（模糊查询）"
                                                   aria-label="moduleId"
                                                   aria-describedby="basic-addon2">
                                        </div>
                                        <div class="input-group mb-3 " style="width: fit-content">
                                            <span class="input-group-text" id="basic-addon3">测试用例标题</span>
                                            <input type="text" class="form-control" name="name" placeholder="标题（模糊查询）"
                                                   aria-label="name"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <select class="form-select mb-3" style="width: fit-content" aria-label="priority" name="priority">
                                            <option th:value="' '" selected>优先级</option>
                                            <option value="0">低</option>
                                            <option value="1">中</option>
                                            <option value="2">高</option>
                                        </select>
                                        <select class="form-select mb-3" style="width: fit-content" aria-label="active" name="active">
                                            <option value="0">有效</option>
                                            <option value="1">无效</option>
                                        </select>
                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                            <button type="submit" class="btn hvr-grow"><i class="bi bi-search"
                                                                                          style="color: cornflowerblue"></i>
                                            </button>
                                            <button type="button" class="btn"
                                                    data-bs-toggle="modal" data-bs-target="#add-case-modal"><i
                                                    class="bi bi-plus-circle hvr-grow" style="color: cornflowerblue"></i>
                                            </button>
                                            <!--                                // 导出数据-->
                                            <a class="btn btn-light mb-3 mb-lg-0 hvr-grow" onclick="exportExcel()">
                                                <i class="bi bi-download"></i>
                                            </a>
                                            <!--                                //导入数据-->
                                            <a class="btn btn-light mb-3 mb-lg-0 hvr-grow" data-bs-toggle="modal"
                                               data-bs-target="#uploadModal">
                                                <i class="bi bi-upload"></i>
                                            </a>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--            列表数据-->
                        <div>
                            <table class="table table-hover">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">所属项目</th>
                                    <th scope="col">所属模块</th>
                                    <th scope="col">标题</th>
                                    <th scope="col">描述</th>
                                    <th scope="col">前置条件</th>
                                    <th scope="col">优先级</th>
                                    <th scope="col">是否有效</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="temp,stat:${iPage.records}" class="text-center">
                                    <input name="id" type="hidden" class="form-control"
                                           th:value="${temp.id}" id="id">
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:text="${temp.project.projectName}"></td>
                                    <td th:text="${temp.module.moduleName}"></td>
                                    <td th:text="${temp.name}"></td>
                                    <td th:text="${temp.description}"></td>
                                    <td th:text="${temp.precondition}"></td>
                                    <td th:switch="${temp.priority}">
                                        <span th:case="0" th:text="低"></span>
                                        <span th:case="1" th:text="中"></span>
                                        <span th:case="2" th:text="高"></span>
                                    </td>
                                    <td th:switch="${temp.active}">
                                        <div class="form-check form-switch">
                                <span th:case="0">
                                    <input class="form-check-input" type="checkbox" id="un-del" checked
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="un-del"></label>
                                </span>
                                            <span th:case="1">
                                    <input class="form-check-input" type="checkbox" id="del"
                                           th:onclick="updateStatus([[${temp.id}]])">
                                    <label class="form-check-label" for="del"></label>
                                </span>
                                        </div>
                                    </td>
                                    <td>
                                        <a type="button" class="btn" id="case-detail" data-whatever="detail"
                                           data-bs-toggle="modal" data-bs-target="#case-detail-modal"><i
                                                class="bi bi-card-text hvr-grow" style="color: cornflowerblue"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="查看详情"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 添加问题单Modal弹框 -->
                    <div th:replace="~{test-case/add_case_modal::addCaseFragment}"></div>
                    <div th:replace="~{test-case/detailModal::caseDetailFragment}"></div>
                    <div th:replace="~{test-case/uploadCase::uploadModal}"></div>
                    <!--        分页-->
                    <div th:replace="/fragment/pagination_fragment :: pagination01"></div>
                </div>
                <!-- Footer -->
                <div th:replace="/fragment/head_footer::#footer"></div>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/user/exit}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/sb-admin-2.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/complete.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/iziToast.min.js}"></script>
        <script type="text/javascript" th:src="@{/dist/js/add-case.js}"></script>
        <script type="text/javascript" th:src="@{/dist/js/case.edit.detail.js}"></script>
        <script th:inline="javascript">
            function alert(message, type) {
                $('#liveAlertPlaceholder').empty();
                let svg_str = '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>';
                switch (type) {
                    case 'warning':
                        svg_str = '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>';
                        break;
                    case "danger":
                        svg_str = '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>';
                        break;
                }
                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
                const wrapper = document.createElement('div');
                wrapper.innerHTML = '<div class="alert alert-' + type + ' d-flex align-items-center alert-dismissible" role="alert">' +
                    svg_str + '<div>' + message + '</div></div>'
                alertPlaceholder.append(wrapper);
                $('#liveAlertPlaceholder').fadeTo(2000, 500).slideUp(500, function () {
                    $("#liveAlertPlaceholder").slideUp(500);
                });
                // $('#liveAlertPlaceholder').remove();
                if (Object.is(type, 'success')) {
                    location.reload();
                }
            }
            const pro_name_tags = /*[[${projectNames}]]*/ 'projectNames';
            console.log(pro_name_tags);
            /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
            autocomplete(document.getElementById("p-search"), pro_name_tags);

            // 更新项目状态
            function updateStatus(caseId) {
                $.ajax({
                    url: '/case/updateCaseStatus/',
                    type: 'POST',
                    data: {
                        caseId: caseId
                    },
                    dataType: 'JSON',
                    success: function (arg) {
                        // console.log( arg['result']);
                        const msg = arg['msg'];
                        if (Object.is(arg['code'], 200)) {
                            alert(msg, 'success');
                        } else {
                            alert(msg, 'danger');
                        }
                    }
                })
            }

            function upload_case() {
                const formData = new FormData(document.getElementById('singleFileUploadInput'));
                // const file = $('#singleFileUploadInput').get(0).files[0];
                // formData.append("file", file);
                $.ajax({
                    url: '/case/upload/',
                    type: 'POST',
                    data: formData,
                    // dataType: 'JSON',
                    contentType: false,
                    processData: false,
                    success: function (arg) {
                        // console.log( arg['result']);
                        const msg = arg['msg'];
                        if (Object.is(arg['code'], 200)) {
                            alert(msg, 'success');
                        } else {
                            alert(msg, 'danger');
                        }
                    }
                })
            }
        </script>
    </body>
</html>
