<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{})">
    <title>TSIM @ CASE REVIEW</title>
</head>

<body id="tsim_body" class="aside-enable">
    <div th:replace="/fragment/commons_v2 :: 2nd-navigation(moduleflag='case',liFlag='review')"></div>
    <div id="wrapper" class="shadow">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="border-bottom">
                        <form id="search-form">
                            <div class="btn-group mb-3 mt-3">
<!--                                <button type="button" class="btn btn-primary hvr-grow me-1" id="search-button"-->
<!--                                        title="查询">-->
<!--                                    <i class="bi bi-search"></i>-->
<!--                                </button>-->
                                <button type="button" class="btn btn-info hvr-grow me-3"
                                        data-bs-toggle="modal" data-bs-target="#add-review-modal" title="添加">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                                <button type="button" class="btn btn-sm hvr-grow me-3 border" id="start-review" disabled
                                        data-bs-toggle="modal" data-bs-target="#review-modal">
                                    <i class="bi-play-circle">开始评审</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--            列表数据-->
                    <div id="table_refresh" th:fragment="table_refresh">
                        <table id="table" class="table table-hover">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="/fragment/commons :: footer"></footer>
    <div th:replace="/test-case/add_review_modal :: addReviewFragment"></div>
    <div th:replace="/test-case/review_modal :: reviewFragment"></div>
    <div th:replace="/fragment/commons :: toast-div"></div>
    <div th:replace="/fragment/commons :: confirm-modal"></div>
    <div th:replace="/plan/associate_case :: ass_case"></div>
    <!-- Logout Modal-->
    <div th:replace="/fragment/commons :: logout"></div>
    <div th:replace="/fragment/commons :: generalJS"></div>
    <script type="text/javascript" th:src="@{/global/js/t.case.review.js}"></script>
</body>
</html>