<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>case-detail</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="caseDetailFragment">
            <div class="modal fade" id="case-detail-modal" tabindex="-1" aria-labelledby="caseDetailModalLabel"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title bg-light" id="caseDetailModalLabel">测试用例详情</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-2">
                                <div class="row col-md-4">
                                    <label class="col-md-5 col-form-label text-end" for="project-id-detail">项目名称</label>
                                    <div class="col-md-7">
                                        <input id="project-id-detail" class="form-control invalid-item">
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <label class="col-sm-5 col-form-label text-end" for="module-id-detail">模块名称</label>
                                    <div class="col-sm-7">
                                        <input id="module-id-detail" class="form-control">
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <span class="col-sm-5 col-form-label text-end" id="c-s-r">关联测试计划</span>
                                    <div class="col-sm-7">
                                        <input id="ref-plan-detail" class="form-control" aria-label="测试计划" aria-describedby="suite-span" placeholder="填写测试计划">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="row col-md-4">
                                    <span class="col-sm-5 col-form-label text-end" id="title-span">用例名称</span>
                                    <div class="col-sm-7">
                                        <input name="name" id="case-title-detail" type="text" class="form-control invalid-item" placeholder="输入测试用例名称" aria-label="测试用例标题" aria-describedby="title-span">
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <span class="col-sm-5 col-form-label text-end" id="summary-span">测试用例描述</span>
                                    <div class="col-sm-7">
                                        <input class="form-control" name="description" id="case-desc-detail" placeholder="输入测试用例描述" aria-label="测试用例描述" aria-describedby="summary-span">
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <label class="col-sm-5 col-form-label text-end" for="owner-detail">维护人</label>
                                    <div class="col-sm-7">
                                        <select class=" form-select" name="caseOwner" id="owner-detail">
                                            <option th:each="user:${users}" th:value="${user.key}"
                                                    th:text="${user.value.username}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 text-center mb-3">
                                <div class="row col-md-4">
                                    <label class="col-md-5 text-end" for="priority-detail">优先级</label>
                                    <div class="col-md-7">
                                        <select class="form-select" name="priority" id="priority-detail">
                                            <option value="0">P0</option>
                                            <option value="1" selected>P1</option>
                                            <option value="2">P2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <label class="col-sm-5 text-end" for="case-type-detail">类型</label>
                                    <div class="col-sm-7">
                                        <select class="form-select" name="caseType" id="case-type-detail">
                                            <option value="0">功能测试</option>
                                            <option value="1">接口测试</option>
                                            <option value="2">性能测试</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <label class="col-sm-5 text-end" for="test-mode-detail">测试方式</label>
                                    <div class="col-sm-7">
                                        <select class="form-select" name="testMode" id="test-mode-detail">
                                            <option value="0">手动测试</option>
                                            <option value="1">自动测试</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 me-1">
                                <label for="case-precondition-detail" class="form-label">前提条件</label>
                                <textarea class="form-control me-1" name="precondition" id="case-precondition-detail"></textarea>
                            </div>
                            <div>
                                <table class="table" id="step-result">
                                    <thead>
                                    <tr class="text-center">
                                        <th scope="col">step</th>
                                        <th scope="col">result</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!--                            <button type="button" class="btn btn-primary" onclick="sub()" id="submit">保存</button>-->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
