<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>case-detail</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="caseEditFragment">
            <div class="modal fade" id="case-edit-modal" tabindex="-1" aria-labelledby="caseEditModalLabel"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title bg-light" id="caseEditModalLabel">编辑测试用例</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form id="edit-case-form">
                            <div class="modal-body">
                                <input type="hidden" name="id" th:id="hidden-case-id">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">项目名称</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                                           id="edit-case-project-name" readonly>
                                    <input type="hidden" name="projectId" th:id="hidden-project-id">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon2">模块名称</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="edit-case-module-name" readonly>
                                    <input type="hidden" name="moduleId" th:id="hidden-module-id">
                                </div>
<!--                                <div class="input-group mb-3">-->
<!--                                    <span class="input-group-text required" id="c-s-r">关联需求</span>-->
<!--                                    <input id="edit-case-story" class="form-control" aria-label="关联需求"-->
<!--                                           aria-describedby="suite-span" placeholder="填写关联需求">-->
<!--                                    <input type="hidden" name="storyId" id="add-case-story">-->
<!--                                </div>-->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3">测试用例标题</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                                           name="name" id="edit-case-title">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">测试用例描述</span>
                                    <input class="form-control" aria-label="With textarea" name="description" id="edit-case-description">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">前提条件</span>
                                    <input class="form-control" aria-label="With textarea" name="precondition" id="edit-case-precondition">
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <select class="form-select" aria-label="priority" name="priority" id="edit-case-priority"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="测试用例优先级">
                                            <option value="0">低</option>
                                            <option value="1">中</option>
                                            <option value="2">高</option>
                                        </select>
                                    </div>
                                    <div class=" mb-3 col-md-6">
                                        <select class="form-select" aria-label="testMode" name="testMode" id="edit-case-testMode"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="测试用例执行方式">
                                            <option value="0">手动测试</option>
                                            <option value="1">自动测试</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button id="edit-case-step-button" class="btn btn-info btn-sm ">添加测试步骤</button>
                                    </div>
                                    <input id="caseSteps" name="stepStore" type="hidden" class="form-control">
                                    <input id="caseExpectedResults" name="resultStore" type="hidden"
                                           class="form-control">
                                    <div id="edit-case-step-table">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="submit">保存</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
