<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="uploadModal">
            <div class="modal fade border-0" id="uploadModal" tabindex="-1"
                 aria-labelledby="uploadModal" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content needs-validation">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="uploadForm" th:action="@{upload}" method="post" enctype="multipart/form-data">
                                <input id="singleFileUploadInput" type="file" name="file" class="file-input" required/>
                                <input type="submit" class="btn btn-sm btn-info" value="上传数据">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
