<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="uploadModal">
            <div class="modal fade border-0" id="case-upload-modal" tabindex="-1"
                 aria-labelledby="case-upload-modal" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content needs-validation">
                        <div class="modal-header">
                            <button type="button" class="btn btn-sm" data-bs-container="body"
                                    data-bs-toggle="popover" data-bs-placement="right" data-bs-content="导入数据时选择测试计划数据(需先选择项目),在数据导入成功后会自动填充任务汇总下'创建测试用例'数量">
                                <i class="bi-info-circle"></i>
                            </button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="uploadForm" th:action="@{upload}" method="post" enctype="multipart/form-data" autocomplete="off">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">项目名称
                                    </span>
                                    <input id="import-project" class="form-control" aria-label="项目名称"
                                           placeholder="填写项目名称">
                                    <div class="invalid-feedback" id="project-error-tips">
                                        error tips.
                                    </div>
                                    <input type="hidden" name="projectId" id="hidden-import-project">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="c-s-r">关联测试计划</span>
                                    <input id="import-ref-plan" class="form-control" aria-label="测试计划"
                                           aria-describedby="suite-span" placeholder="填写测试计划">
                                    <div class="invalid-feedback" id="plan-error-tips">
                                        error tips.
                                    </div>
                                    <input type="hidden" name="tempPlanId" id="hidden-import-ref-plan">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="import-case-input" aria-describedby="import-case-btn" aria-label="Upload" name="file">
                                    <button class="btn btn-outline-info" type="button" id="import-case-btn" onclick="importCase()">
                                        <i class="bi-cloud-arrow-up"></i>
                                    </button>
                                </div>
                                <div id="infoHelp" class="form-text mt-3"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
