<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>add</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="addStoryFragment">
            <div class="modal fade" id="add-story-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form class="modal-content needs-validation" id="addStoryForm" autocomplete="off">
                            <div class="modal-header">
                                <h5 class="modal-title" th:id="modal-title" id="staticBackdropLabel">新增需求</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="box-body">
<!--                                    <input type="hidden" name="id" id="story-id">-->
                                    <div class="input-group mb-3">
                                        <span class="input-group-text required" id="basic-addon1">项目名称</span>
                                        <input type="text" class="form-control invalid-item" placeholder="输入项目名称"
                                               aria-label="project" aria-describedby="basic-addon1" id="p-add">
                                        <div class="invalid-feedback" id="project-error-tips">
                                            请输入项目名称.
                                        </div>
                                        <input type="hidden" name="projectId" id="s-p-id">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span id="basic-addon2" class="input-group-text required">需求内容描述</span>
                                        <textarea type="text" class="form-control invalid-item" aria-label="desc" aria-describedby="basic-addon2" id="add-description-name"
                                                  name="description" placeholder="输入需求内容描述"></textarea>
                                        <div class="invalid-feedback">
                                            请输入需求内容描述.
                                        </div>
                                    </div>
<!--                                    todo 文件上传-->
                                    <div class="mb-3" id="upload-div" hidden="hidden">
<!--                                        <input class="form-control" type="file" name="file" id="formFile">-->
                                        <button type="button" id="up-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                                            上传需求文件
                                        </button>
                                        <div id="emailHelp" class="form-text">若有需求文件，先上传文件.</div>
                                    </div>
                                    <input type="hidden" name="docId" id="attachmentId">
                                    <div class="btn-group mb-3">
                                        <div class="input-group me-5 ">
                                            <label for="workDate" class="input-group-text">需求日期</label>
                                            <select class="form-select" name="workDate" id="workDate" required>
                                                <option th:each="m:${monthList}"
                                                        th:value="${m}"
                                                        th:text="${m}">
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <label for="storyStatus" class="input-group-text">完成状态</label>
                                            <select class="form-select" name="storyStatus" id="storyStatus" required>
                                                <option value="0">未完成</option>
                                                <option value="1">已完成</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="submit">确定</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
