<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>add</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="editStoryFragment">
            <div class="modal fade" id="edit-story-modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form class="modal-content needs-validation" id="editStoryForm" autocomplete="off">
                            <div class="modal-header">
                                <h5 class="modal-title" th:id="modal-title" id="staticBackdropLabel">编辑需求信息</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="box-body">
                                    <input type="hidden" name="id" id="e-story-id">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">项目名称</span>
                                        <input type="text" class="form-control" placeholder="输入项目名称"
                                               aria-label="project" aria-describedby="basic-addon1" id="p-edit">
                                        <input type="hidden" name="projectId" id="e-p-id">
                                    </div>
                                    <div class="mb-3">
                                        <label for="e-description-name" class="form-label">需求内容描述</label>
                                        <textarea type="text" class="form-control" id="e-description-name"
                                                  name="description" placeholder="输入需求内容描述"></textarea>
                                    </div>
<!--                                    todo 文件上传-->
                                    <div class="mb-3" id="upload-div" hidden="hidden">
<!--                                        <input class="form-control" type="file" name="file" id="formFile">-->
                                        <button type="button" id="up-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                                            上传需求文件
                                        </button>
                                        <div id="emailHelp" class="form-text">若有需求文件，先上传文件.</div>
                                    </div>
                                    <input type="hidden" name="docId" id="attachmentId">
                                    <div class="input-group mb-3">
                                        <label for="e-workDate" class="input-group-text">需求日期</label>
                                        <select class="form-select" name="workDate" id="e-workDate" required>
                                            <option th:each="m:${monthList}"
                                                    th:value="${m}"
                                                    th:text="${m}">
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="submit">确定</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
