<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragment/commons :: common_header(~{::title},~{})">
        <title>TSIM @ STORY</title>
    </head>
    <body id="tsim_body" class="aside-enable">

        <div id="wrapper">
            <ul th:replace="/fragment/commons :: sidebarMenu(flag='story')"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="/fragment/commons :: nav-on-main-top"></nav>
                    <div class="container-fluid">
                        <!--操作栏-->
                        <div class="pt-2 border-bottom">
                            <div class="btn-group mb-2">
                                <div class="input-group me-2" style="width: fit-content">
                                    <span class="input-group-text" id="basic-addon1">所属项目</span>
                                    <input type="text" class="form-control" placeholder="输入项目名称"
                                           aria-label="projectId" name="projectId"
                                           aria-describedby="basic-addon1" id="p-search">
                                </div>
                                <div class="input-group me-2 " style="width: fit-content">
                                    <span class="input-group-text" id="basic-addon3">需求内容</span>
                                    <input type="text" class="form-control" name="description" id="story-desc"
                                           placeholder="输入需求内容" aria-label="name"
                                           aria-describedby="basic-addon3">
                                </div>
                                <select class="form-select me-2" style="width: fit-content" aria-label="active"
                                        name="delFlag">
                                    <option th:value="''">完成状态</option>
                                    <option value="1">已完成</option>
                                    <option value="0">未完成</option>
                                </select>
                                <div class="btn-group">
                                    <a id="search-button" class="btn btn-primary me-2 hvr-grow">
                                        <i class="bi bi-search"></i>
                                    </a>
                                    <a class="btn btn-primary hvr-grow" data-bs-toggle="modal"
                                       data-bs-target="#add-story-modal"
                                       role="button"><i class="bi bi-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--            列表数据-->
                        <div id="table_refresh" th:fragment="table_refresh">
                            <table id="table" class="table table-hover"></table>
                        </div>
                        <!--        分页-->
                        <!--                        <div th:replace="/fragment/commons :: pagination01"></div>-->
                    </div>
                </div>
                <footer th:replace="/fragment/commons :: footer"></footer>
            </div>
        </div>

        <!-- 添加问题单Modal弹框 -->
        <div th:replace="~{story/add_story_modal::addStoryFragment}"></div>
        <div th:replace="~{story/edit_story_modal::editStoryFragment}"></div>
        <!--                    toast-->
        <div th:replace="/fragment/commons :: toast-div"></div>
        <div th:replace="/fragment/commons :: upload-modal"></div>
        <!-- Logout Modal-->
        <div th:replace="/fragment/commons :: logout"></div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table-zh-CN.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/autocomplete.js}"></script>
        <script type="text/javascript" th:src="@{/global/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/global/js/bs.table.js}"></script>
        <script>
            const _table_columns = [
                {field: 'id', align: 'center', title: 'id', visible: false}, {
                    field: 'projectId',
                    align: 'center',
                    title: '所属项目',
                    class: 'col-sm-6'
                }, {
                    field: 'description',
                    align: 'center',
                    title: '需求内容描述',
                    class: 'col-sm-6'
                }, {
                    field: 'docId',
                    align: 'center',
                    title: '关联文档',
                    class: 'col-sm-6'
                }, {
                    field: 'workDate',
                    align: 'center',
                    title: '需求时间',
                    class: 'col-sm-6'
                }, {title: '操作', align: 'center', field: 'id', class: 'col-sm-6', formatter: option,}]
            // 查询条件
            const _search_params = function (params) {
                return {
                    projectName: $('#p-search').val().trim(), // 自定义查询条件
                    storyDesc: $('#story-desc').val().trim(), // 自定义查询条件
                    pageSize: params.limit,
                    pageNum: params.offset / params.limit + 1,

                }
            };
            InitTable("/story/reloadTable", 'get', _table_columns, _search_params)

            function option(value, row, index) {
                // return "<a href='#' id='del-project' onclick='delPro(" + row.id + ")' title='删除'>删除</a>";
                const e = '<button class="btn btn-sm-c btn-outline-info" data-bs-toggle="modal" data-bs-target="#edit-story-modal" onclick="editStory(\'' + row.id + '\')">编辑</button>'
                const d = "<button disabled type=\"button\" class=\"btn btn-sm-c btn-outline-info\" data-bs-toggle=\"modal\" " +
                    "data-bs-target=\"#edit-story-modal\" onclick=\"editStory(\"" + row.id + "\")\">删除</button>";
                return e + d;
            }

            // 新增、编辑需求
            function editStory(storyId) {
                $('#edit-story-modal').on("shown.bs.modal", function (event) {
                    // 编辑需求
                    if (storyId) {
                        $("#e-story-id").val(storyId);
                        $.ajax({
                            url: "/story/getStory/" + storyId,
                            type: 'get',
                            success: function (result) {
                                const resultElement = result['data'];
                                console.log(resultElement);
                                $("#p-edit").val(resultElement.project.projectName);
                                $("#e-p-id").val(resultElement.projectId);
                                $("#e-description-name").val(resultElement.description);
                                $("#e-workDate option[value=" + resultElement.workDate + "]").attr('selected', true);
                            }
                        });
                    }
                });
            }

            // 添加modal打开时，设置项目输入框可匹配
            $('#add-story-modal').on("shown.bs.modal", function (event) {
                autoComplete('/project/queryList', 'p-add', 'p', true);
            });
            $(document).on('click', "#search-button", function () {
                $('#table').bootstrapTable('refresh');
            });
            // 保存项目
            $('button[id=submit]').click(function () {
                const $project = $("#s-p-id");
                const _storyId = $("#e-story-id").val();
                const $description = $('#add-description-name');
                const $workDate = $('#workDate');

                if (_storyId) {
                    const serializeArray = $('#editStoryForm').serializeArray();
                    $.ajax({
                        url: "/story/save",
                        type: 'POST',
                        data: serializeArray,
                        success: function (arg) {
                            const msg = arg['msg'];
                            if (Object.is(arg['code'], 200)) {
                                // alert(msg, 'success');
                                resetModal("#edit-story-modal", "editStoryForm");
                                $("#table").bootstrapTable("refresh");
                            }
                            showToast(arg['code'], msg);
                        }
                    })
                } else {
                    // 添加需求数据
                    const serializeArray = $('#addStoryForm').serializeArray();
                    $.ajax({
                        url: "/story/uniqueStory",
                        type: 'get',
                        // contentType: "application/json; charset=utf-8",
                        data: serializeArray,
                        success: function (result) {
                            if (!Object.is(result['code'], 200)) {
                                //    项目已存在
                                showToast(result['code'], result['msg']);
                            } else {
                                $.ajax({
                                    url: "/story/save",
                                    type: 'POST',
                                    data: serializeArray,
                                    success: function (arg) {
                                        const msg = arg['msg'];
                                        if (Object.is(arg['code'], 200)) {
                                            // alert(msg, 'success');
                                            resetModal("#add-story-modal", "addStoryForm");
                                            $("#table").bootstrapTable("refresh");
                                        }
                                        showToast(arg['code'], msg);
                                    }
                                });
                            }
                        }
                    });
                }
            })

            // 查询条件：项目
            autoComplete('/project/queryList', 'p-search', 'p', false);

        </script>
    </body>
</html>
