<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{})">
    <title>TSIM @ STORY</title>
</head>
<body id="tsim_body" class="aside-enable">
<div th:replace="/fragment/commons_v2 :: 2nd-navigation(moduleflag='case',liFlag='story')"></div>
<div id="wrapper">
<!--    <div th:replace="/fragment/commons :: sidebarMenu(flag='story')"></div>-->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
<!--            <nav th:replace="/fragment/commons :: nav-on-main-top"></nav>-->
            <div class="container-fluid">
                <!--操作栏-->
                <div class="pt-2 border-bottom">
                    <form id="search-form">
                        <div class="btn-group mb-2">
                            <div class="input-group me-2" style="width: fit-content">
                                <span class="input-group-text" id="basic-addon1">所属项目</span>
                                <input type="text" class="form-control" placeholder="输入项目名称"
                                       aria-label="projectId" name="projectId"
                                       aria-describedby="basic-addon1" id="p-search">
                            </div>
                            <div class="input-group me-2 " style="width: fit-content">
                                <span class="input-group-text" id="basic-addon3">需求内容</span>
                                <input type="text" class="form-control" name="description" id="story-desc"
                                       placeholder="输入需求内容" aria-label="name"
                                       aria-describedby="basic-addon3">
                            </div>
                            <select class="form-select me-2" style="width: fit-content" aria-label="active"
                                    name="storyStatus" id="search-status">
                                <option th:value="''">完成状态</option>
                                <option value="1">已完成</option>
                                <option value="0">未完成</option>
                            </select>
                            <div class="btn-group">
                                <button type="button" id="search-button" class="btn btn-primary me-1 hvr-grow">
                                    <i class="bi bi-search"></i>
                                </button>
                                <a class="btn btn-primary hvr-grow me-1" data-bs-toggle="modal"
                                   data-bs-target="#add-story-modal" onclick="addOrEditStory()"
                                   role="button"><i class="bi bi-plus-circle"></i></a>
                                <button type="button" class="btn btn-secondary hvr-grow" id="reset-button" title="重置搜索">
                                    <i class="bi-arrow-clockwise"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--            列表数据-->
                <div id="table_refresh" th:fragment="table_refresh">
                    <table id="table" class="table table-hover"></table>
                </div>
                <div id="status"></div>
                <!--        分页-->
                <!--                        <div th:replace="/fragment/commons :: pagination01"></div>-->
            </div>
        </div>
        <footer th:replace="/fragment/commons :: footer"></footer>
    </div>
</div>

<!-- 添加问题单Modal弹框 -->
<div th:replace="~{story/add_story_modal::addStoryFragment}"></div>
<!--                    toast-->
<div th:replace="/fragment/commons :: toast-div"></div>
<div th:replace="/fragment/commons :: confirm-modal"></div>
<!-- Logout Modal-->
<div th:replace="/fragment/commons :: logout"></div>
<div th:replace="/fragment/commons :: generalJS"></div>
<script>
    const _table_columns = [
        {field: 'id', align: 'center', title: 'id', visible: false}, {
            field: 'projectId',
            align: 'center',
            title: '所属项目',
            class: 'col-sm-6', formatter: function (value, row, index) {
                return row.project.projectName;
            }
        }, {
            field: 'storyName',
            align: 'center',
            title: '需求名称',
            class: 'col-sm-6'
        }, {
            field: 'description',
            align: 'center',
            title: '需求内容描述',
            class: 'col-sm-6',cellStyle: formatTableUnit,formatter: paramsMatter
        }, {
            field: 'docId',
            align: 'center',
            title: '关联文档',
            class: 'col-sm-4', formatter(value, row, index) {
                let _docName;
                if (Object.is(undefined, row.docInfo)) {
                    _docName = undefined;
                } else {
                    let _tempName = row.docInfo.docName;
                    let _hrefStr = '/story/download/' + _tempName + '/' + row.docInfo.uuidName;
                    // fixme 直接传地址，无法正确下载文件
                    // _docName = '<a href=' + _hrefStr + '>' + _tempName + '</a>';
                    _docName = '<a href="javascript:void(0)" onclick="download_file_by_ajax(\'' + row.docInfo.uuidName + '\')">' + _tempName + '</a>';
                }
                return _docName;
            },
        }, {
            field: 'workDate',
            align: 'center',
            title: '需求时间',
            class: 'col-sm-3'
        }, {
            field: 'storyStatus',
            align: 'center',
            title: '需求状态',
            class: 'col-sm-3', formatter: function (value, row, index) {
                return Object.is(value, 0) ? "未完成" : "已完成";
            }
        },
        {title: '操作', align: 'center', field: 'id', class: 'col-sm-2', formatter: option,}]
    // 查询条件
    const _search_params = function (params) {
        return {
            projectName: $('#p-search').val().trim(), // 自定义查询条件
            storyDesc: $('#story-desc').val().trim(), // 自定义查询条件
            status: $('#search-status').val(), // 自定义查询条件
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,

        }
    };
    InitTable("/story/reloadTable", 'get', _table_columns, _search_params);

    function option(value, row, index) {
        const e = '<button class="btn btn-sm btn-warning me-1" data-bs-toggle="modal" data-bs-target="#add-story-modal" onclick="addOrEditStory(\'' + row.id + '\')"><i class="bi-pencil-square"></i></button>'
        const d = '<button class="btn btn-sm btn-danger" onclick="deleteStory(\'' + row.id + '\')"><i class="bi-trash"></i></button>';
        return e + d;
    }

    /**
     * 删除
     * @param storyId
     */
    function deleteStory(storyId) {
        forwardToConfirmModal('confirm-modal', '确认删除该数据吗');
        $("#btn-confirm").on('click', function () {
            $.ajax({
                url: "/story/batchDel/",
                type: 'post',
                data: {ids: storyId},
                contentType: 'application/x-www-form-urlencoded',
                success: function (result) {
                    $('#confirm-modal').modal('hide');
                    showToast(result['code'], result['msg']);
                    $("#table").bootstrapTable("refresh");
                }
            })
        })
    }

    // 新增、编辑需求
    function addOrEditStory(id) {
        // 编辑数据时不使用字段提示功能
        !id && autoComplete4Project(true, '#p-add', '#hidden-project-id');
        !id && $('input[type=hidden]:first').val('');
        removeClass('#p-add', 'is-invalid');
        removeClass('#story-name-input', 'is-invalid');
        document.getElementById('add-story-modal').querySelector('.modal-title').textContent = id ? '编辑需求数据' : '添加需求数据';

        // 编辑需求
        if (id) {
            $("#story-id").val(id);
            $.ajax({
                url: "/story/getStory/" + id,
                type: 'get',
                success: function (result) {
                    const resultElement = result['data'];
                    const docId = resultElement.docId;
                    $("#p-add").val(resultElement.project.projectName);
                    $("#hidden-project-id").val(resultElement.projectId);
                    $("#add-description-name").val(resultElement.description);
                    $("#story-name-input").val(resultElement.storyName);
                    $("#attachmentId").val(docId);
                    docId && $('#infoHelp').addClass('text-success fw-bold fst-italic').text(resultElement.docInfo.docName);
                    select_option_checked('workDate', resultElement.workDate);
                    select_option_checked('storyStatus', resultElement.storyStatus);
                }
            });
        }
    }

    /**
     * 保存
     */
    $('button[id=submit]').on('click', function () {
        const $project = $("#p-add").val();
        const p_id = $('#hidden-project-id').val();
        const _storyId = $("#story-id").val();
        const $desc = $('#add-description-name');
        const $story = $('#story-name-input');
        const $workDate = $('#workDate').val();
        // 验证字段开始************
        // 需求描述字段非空验证
        $desc.val() ? removeClass('#add-description-name', 'is-invalid') : $desc.addClass("is-invalid");
        $story.val() ? removeClass('#story-name-input', 'is-invalid') : $story.addClass("is-invalid");
        // 项目字段非空验证
        // 没有录入项目数据
        if (!$project) {
            $('#p-add').addClass("is-invalid");
            return false;
        } else {
            removeClass('#p-add', 'is-invalid');
            /**
             * 验证录入项目是否存在
             */
            if (!p_id) {
                $('#project-error-tips').text($project + '不存在,先在项目管理模块添加');
                $('#p-add').addClass("is-invalid");
                return false;
            } else {
                removeClass('#p-add', 'is-invalid');
                $.ajax({
                    url: '/project/checkUniqueProject',
                    type: 'get',
                    data: {name: $project, id: p_id},
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (result) {
                        if (Object.is(403, result['code'])) {
                            $('#project-error-tips').text('[' + $project + ']不存在,先在项目管理模块添加');
                            $('#p-add').addClass("is-invalid");
                            return false;
                        }
                    }
                });
            }
        }
        // 验证字段结束************

        const saveDate = {
            id: _storyId,
            name: $story.val(),
            projectId: p_id,
            workDate: $workDate,
            desc: $desc.val(),
            docId: $('#attachmentId').val(),
            storyStatus: $('#storyStatus').val()
        }
        if (_storyId) {
            $.ajax({
                url: "/story/save",
                type: 'POST',
                data: saveDate,
                success: function (arg) {
                    const msg = arg['msg'];
                    if (Object.is(arg['code'], 200)) {
                        resetModal("#add-story-modal", "addStoryForm");
                        $('#add-story-modal').modal('hide');
                        $("#table").bootstrapTable("refresh");
                    }
                    showToast(arg['code'], msg);
                }
            });
        } else {
            // 添加需求数据
            $.ajax({
                url: "/story/uniqueStory",
                type: 'get',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {name: $story.val(), projectId: p_id, workDate: $workDate},
                success: function (result) {
                    if (!Object.is(result['code'], 200)) {
                        //    项目已存在
                        showToast(result['code'], result['msg']);
                    } else {
                        $.ajax({
                            url: "/story/save",
                            type: 'POST',
                            data: saveDate,
                            success: function (arg) {
                                const msg = arg['msg'];
                                if (Object.is(arg['code'], 200)) {
                                    resetModal("#add-story-modal", "addStoryForm");
                                    $('#add-story-modal').modal('hide');
                                    $("#table").bootstrapTable("refresh");
                                }
                                showToast(arg['code'], msg);
                            }
                        });
                    }
                }
            });
        }
    })
    // 查询条件：项目
    autoComplete4Project(false, '#p-search');
</script>
<script>
    /**
     * 上传文件
     */
    $(document).ready(function () {
        $('#file-upload-button').on('click', function (e) {
            // cancel the default behavior
            e.preventDefault();
            const formData = new FormData();
            formData.append("file", $('#file-upload-input')[0].files[0]);
            let previous_doc_id = $('#attachmentId').val();
            $.ajax({
                url: "/story/upload",
                type: "POST",
                data: formData,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function (res) {
                    $('#attachmentId').val(res['data'].docId);
                    $('#infoHelp').addClass('text-success').text('文件上传成功');
                    delete_file_by_ajax(previous_doc_id);
                },
                error: function (err) {
                    console.error(err);
                },
            });
        });
    });
</script>
</body>
</html>
