
.wrapper {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wrapper::after .wrapper::before{
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left 3s ease-in-out, left 3s;
    width: 100%;
}
.header {
    margin-bottom: 3rem;
    position: relative;
}
