<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragment/commons :: common_header(~{::title},~{})">
        <title th:text="'TSIM | ' +${result.code}+' ERROR'">TSIM | Dashboard </title>
    </head>
    <!--    begin body-->
    <body id="tsim_body" class="">
        <div id="wrapper">
            <ul th:replace="/fragment/commons :: sidebarMenu(flag='dashboard')"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="/fragment/commons :: nav-on-main-top"></nav>
                    <div class="container">
                        <div class="justify-content-center row">
                            <div class="my-5 col-xl-4 col-md-5 col-12">
                                <div class="text-center">
                                    <h6 class="text-uppercase text-muted mb-4" th:text="${result.code}+' ERROR'">404</h6>
                                    <h1 class="display-4 mb-3" th:text="${result.msg} + '😭'">There’s no page here 😭</h1>
                                    <p class="text-muted mb-4">It looks like you found a glitch in the matrix...</p>
                                    <a href="index.html" th:href="@{/dashboard}">← Back to Dashboard</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer th:replace="/fragment/commons :: footer"></footer>
            </div>
        </div>
        <div th:replace="/fragment/commons :: logout"></div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
