<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragment/commons :: common_header(~{::title},~{})">
        <title>TSIM @ Dashboard</title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>
    <body>

        <header th:replace="/fragment/commons :: top-header">
        </header>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" th:replace="/fragment/commons :: sidebarMenu2(flag='dashboard')">
                </nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <span class="text-muted font-13">cccccc</span>
                                    <div class="line-chart-wrapper">
                                        <div id="issueStatistics"
                                             style="display:block;width: 722px; height: 192px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <span class="text-muted font-13">cccccc</span>
                                    <div class="line-chart-wrapper">
                                        <div id="demo1" style="display:block;width: 722px; height: 192px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${xAxisList}" id="xAxisList">
                    <input type="hidden" th:value="${newBugCount}" id="yAxisList">
                </main>
            </div>
        </div>
<!--        <footer th:replace="/fragment/commons :: footer"></footer>-->
        <div th:replace="/fragment/commons :: logout"></div>
        <script type="text/javascript" th:src="@{/plugins/echarts.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dist/js/dashboard.js}"></script>
    </body>
</html>
