<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TSIM @ LOGIN</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/global/css/login.css}">
        <meta name="author" content="11‘s papa">
    </head>
    <body class="login-bg" style="visibility: visible">
        <div class="section dwo d-flex flex-column">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 text-center">
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log">
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="text-center">
                                                <h4 class="mb-4 pb-3 ">登 录</h4>
                                                <form th:action="@{/user/login}" method="post">
                                                    <div class="form-floating">
                                                        <input type="text" name="account" class="form-control"
                                                               id="account" placeholder="name@example.com">
                                                        <label for="account">账 号</label>
                                                    </div>
                                                    <div class="form-floating mt-3">
                                                        <input type="password" name="password" class="form-control"
                                                               id="password" placeholder="Password">
                                                        <label for="password">密 码</label>
                                                    </div>
                                                    <p class="mt-2 mb-2" style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                                                    <button type="submit" class="btn mt-3">登 录</button>
                                                </form>
                                                <div class="d-flex justify-content-between mt-4 text-left">
                                                    <div class="flex-fill">
                                                        <p>没有帐号？<label for="reg-log">立即注册</label></p>
                                                    </div>
                                                    <div class="flex-fill text-right">
                                                        <p><a href="javascript:" class="forgot link disabled">忘记密码？</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="text-center">
                                                <h4 class="mb-4 pb-3">注 册</h4>
                                                <form th:action="@{/user/register}" method="post">
                                                    <div class="form-floating">
                                                        <input type="text" name="account" class="form-control" id="account-r" placeholder="输入用户名">
                                                        <label for="account-r">输入用户名</label>
                                                    </div>
                                                    <div class="form-floating mt-3">
                                                        <input type="text" name="username" class="form-control" id="username" placeholder="输入用户名称">
                                                        <label for="username">输入用户名称</label>
                                                    </div>
                                                    <div class="form-floating mt-3">
                                                        <input type="password" name="password" class="form-control" id="password-r" placeholder="输入密码">
                                                        <label for="password-r">输入密码</label>
                                                    </div>
                                                    <button type="submit" class="btn mt-4">注 册</button>
                                                </form>
                                                <div class="d-flex justify-content-between mt-4 text-left">
                                                    <div class="flex-fill">
                                                        <p>已有帐号？<label for="reg-log">立即登录</label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
