<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TSIM @ LOGIN</title>
        <link th:href="@{/css/bs/bootstrap.min.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bs/bootstrap.js}"></script>
        <link rel="stylesheet" th:href="@{/icons/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div class="section dwo">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log">
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">登录</h4>
                                                <form th:action="@{/user/login}" method="post">
                                                    <div class="form-group">
                                                        <input type="text" name="account" class="form-style"
                                                               placeholder="请输入账号" id="account" autocomplete="off"
                                                               required>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <input type="password" name="password" class="form-style"
                                                               placeholder="请输入密码" id="password" autocomplete="off"
                                                               required>
                                                    </div>
                                                    <button type="submit" class="btn mt-4">登录</button>
                                                </form>
                                                <div class="d-flex justify-content-between mt-4 text-left">
                                                    <div class="flex-fill">
                                                        <p>没有帐号？<label for="reg-log">立即注册</label></p>
                                                    </div>
                                                    <div class="flex-fill text-right">
                                                        <p><a href="javascript:" class="forgot link disabled">忘记密码？</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!--        toast-->
                                                <div id="toast-div">
                                                    <p style="color: red" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">注册</h4>
                                                <form th:action="@{/user/register}" method="post">
                                                    <div class="form-group">
                                                        <input type="text" name="account" class="form-style"
                                                               placeholder="请输入用户名" id="account-r" autocomplete="off"
                                                               required>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <input type="text" name="username" class="form-style"
                                                               placeholder="请输入用户名称" id="username" autocomplete="off"
                                                               required>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <input type="password" name="password" class="form-style"
                                                               placeholder="请输入密码" id="password-r" autocomplete="off"
                                                               required>
                                                    </div>
                                                    <button type="submit" class="btn mt-4">注册</button>
                                                </form>
                                                <p class="mb-0 mt-4 text-center">已有帐号？<label for="reg-log">立即登录</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
