<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{})">
    <title>TSIM @ CASE MANAGE</title>
</head>
<body >
<div th:replace="/fragment/commons_v2 :: 2nd-navigation('case','index')"></div>
<div id="wrapper" class="border-top bg-light">
    <div id="content-wrapper" class="d-flex flex-column mt-1">
        <div id="content">
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-xxl-6 mb-2">
                        <div class="card shadow">
                            <div class="card-header">我的计划</div>
                            <div class="card-body">
                                <table id="current-user-plan-table" class="table-hover">
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 mb-2">
                        <div class="card shadow">
                            <div class="card-header">我的计划</div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 mb-2">
                        <div class="card shadow">
                            <div class="card-header">我的计划</div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Logout Modal-->
<div th:replace="/fragment/commons :: logout"></div>
<div th:replace="/fragment/commons :: generalJS"></div>
<script th:inline="javascript" th:src="@{/global/js/test.case.index.js}"></script>
</body>
</html>