<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.master.tsim.mapper.PlanStoryRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.master.tsim.entity.PlanStoryRef">
        <id column="id" property="id" />
        <result column="plan_id" property="planId" />
        <result column="story_id" property="storyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_id, story_id
    </sql>

</mapper>
