<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>bug</title>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="addBugFragment">
            <!-- 添加问题单Modal弹框 -->
            <div class="modal fade" id="add-bug-modal" tabindex="-1"
                 aria-labelledby="issueAddModalLabel"
                 aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <form class="modal-content" id="add-bug-from" autocomplete="off">
                        <div class="modal-header pb-0 justify-content-end">
                            <h5 class="modal-title bg-light" id="issueAddModalLabel">添加问题单</h5>
                            <button class="btn btn-sm btn-close" data-bs-dismiss="modal" id="close-modal-btn" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pt-0 ">
                            <div class="row g-9 mb-8">
                                <input type="hidden" name="id" id="hidden-bug-id">
                                <input type="hidden" name="ref-id" id="hidden-ref-id">
                                <div class="col-md-6">
                                    <label for="projectCode" class="required fs-6 fw-bold mb-2">项目名称</label>
                                    <input id="projectCode" type="text" class="form-control form-control-solid" placeholder="录入项目名称">
                                    <input type="hidden" name="projectId" id="b-a-p">
                                </div>
                                <div class="col-md-6">
                                    <label for="module" class="required fs-6 fw-bold mb-2">模块</label>
                                    <input id="module" type="text" class="form-control form-control-solid" placeholder="录入模块名称">
                                    <input type="hidden" name="moduleId" id="b-a-m">
                                </div>
                                <div class="col-md-6">
                                    <label for="add-bug-story" class="fs-6 fw-bold mb-2">关联需求</label>
                                    <input id="add-bug-story" type="text" class="form-control form-control-solid" placeholder="录入需求名称">
                                    <input type="hidden" name="storyId" id="bug-story-ref">
                                </div>
                                <div class="col-md-6">
                                    <label for="functionDesc" class="required fs-6 fw-bold mb-2">功能点</label>
                                    <input name="func" id="functionDesc" type="text" class="form-control form-control-solid" placeholder="">
                                </div>
                                <div class="col-md-12">
                                    <label for="title" class="required fs-6 fw-bold mb-2">标题</label>
                                    <input name="title" id="title" type="text" class="form-control form-control-solid">
                                </div>
                                <div class="col-md-12">
                                    <label for="bug_description" class="required fs-6 fw-bold mb-2">问题描述</label>
                                    <input name="bugDescription" id="bug_description" type="text" class="form-control form-control-solid">
                                </div>
                                <div class="col-md-12">
                                    <label for="reproduce_steps" class="required fs-6 fw-bold mb-2">复现步骤</label>
                                    <textarea name="reproduceSteps" id="reproduce_steps" type="text" class="form-control form-control-solid"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <label for="expect_result" class="required fs-6 fw-bold mb-2">预期结果</label>
                                    <input name="expectResult" id="expect_result" type="text" class="form-control form-control-solid">
                                </div>
                                <div class="col-md-12">
                                    <label for="actual_result" class="required fs-6 fw-bold mb-2">实际结果</label>
                                    <input name="actualResult" id="actual_result" type="text" class="form-control form-control-solid">
                                </div>
                                <div class="col-md-3">
                                    <label for="severity" class="required fs-6 fw-bold mb-2">严重程度</label>
                                    <select class="form-select form-control-solid" name="severity" id="severity" required>
                                        <option value="1">轻微</option>
                                        <option value="2">一般</option>
                                        <option value="3">严重</option>
                                        <option value="4">致命</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="owner" class="required fs-6 fw-bold mb-2">测试人员</label>
                                    <select class="form-select form-control-solid" name="tester" id="owner" required>
                                        <option value=" ">--测试人员--</option>
                                        <option th:each="u:${users}" th:value="${u.key}"
                                                th:text="${u.value.username}"></option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="status" class="required fs-6 fw-bold mb-2">问题单状态</label>
                                    <select class="form-select form-control-solid" name="bugStatus" id="status" required>
                                        <option value="1">新建</option>
                                        <option value="2">挂起</option>
                                        <option value="3">已提交</option>
                                        <option value="4">已解决</option>
                                        <option value="5">非bug</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="bugRecurrenceProbability" class="fs-6 fw-bold mb-2">复现概率</label>
                                    <select class="form-select form-control-solid" name="bugRecurrenceProbability" id="bugRecurrenceProbability" required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label for="remark" class="fs-6 fw-bold mb-2">备注</label>
                                    <input name="note" id="remark" type="text" class="form-control form-control-solid">
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-1">
                            <button type="button" class="btn btn-primary me-3" id="new_target_submit_bug">
                                <span class="indicator-label">保存</span>
                                <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button type="reset" id="new_target_cancel" class="btn btn-secondary " data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
