<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/commons :: common_header(~{::title},~{})">
    <title>TSIM @ BUG</title>
</head>
<body id="tsim_body">

<div id="wrapper">
    <ul th:replace="/fragment/commons :: sidebarMenu(flag='bug')"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="/fragment/commons :: nav-on-main-top"></nav>
            <div class="container-fluid">
                <div class="pt-2 border-bottom">
                    <div class="btn-group mb-2">
                        <div class="input-group me-2" style="width: fit-content">
                            <span class="input-group-text" id="basic-addon1">所属项目</span>
                            <input type="text" class="form-control"
                                   placeholder="项目名称（模糊查询）"
                                   aria-label="projectId" id="p-search"
                                   aria-describedby="basic-addon1">
                            <input type="hidden" name="projectId">
                        </div>
                        <div class="input-group me-2" style="width: fit-content">
                            <span class="input-group-text" id="basic-addon2">所属模块</span>
                            <input type="text" class="form-control" name="moduleId"
                                   placeholder="模块名称（模糊查询）" th:id="module-search"
                                   aria-label="moduleId" id="m-search"
                                   aria-describedby="basic-addon2">
                        </div>
                        <div class="input-group me-2 " style="width: fit-content">
                            <span class="input-group-text" id="basic-addon3">问题描述</span>
                            <input type="text" class="form-control" name="title"
                                   placeholder="问题描述（模糊查询）" th:id="title-search"
                                   aria-label="title"
                                   aria-describedby="basic-addon3">
                        </div>
                        <select class="form-select me-2" style="width: fit-content"
                                aria-label="severity"
                                name="severity">
                            <option th:value="' '" selected>严重程度</option>
                            <option value="1">轻微</option>
                            <option value="2">一般</option>
                            <option value="3">严重</option>
                            <option value="4">致命</option>
                        </select>
                        <select class="form-select me-2" style="width: fit-content"
                                aria-label="bugStatus"
                                name="bugStatus">
                            <option th:value="' '" selected>问题状态</option>
                            <option value="1">新建</option>
                            <option value="2">挂起</option>
                            <option value="3">已提交</option>
                            <option value="4">已解决</option>
                            <option value="5">非bug</option>
                        </select>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary hvr-grow me-2" id="search-button">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="button" class="btn btn-info hvr-grow me-2"
                                    data-bs-toggle="modal" data-bs-target="#add-bug-modal"><i
                                    class="bi bi-plus-circle"></i>
                            </button>
                            <button type="button" class="btn btn-danger hvr-grow me-2" id="batch-delete" onclick="batchDelete()">
                                <i class="bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!--            列表数据-->
                <div id="table_refresh" th:fragment="table_refresh">
                    <table th:id="table" class="table table-hover">

                    </table>
                </div>
                <!--        分页-->
                <!--                        <div th:replace="/fragment/commons :: pagination01"></div>-->
            </div>
        </div>
        <footer th:replace="/fragment/commons :: footer"></footer>
    </div>
</div>

<!-- 添加问题单Modal弹框 -->
<div th:replace="~{bug/add_bug_modal::addBugFragment}"></div>
<div th:replace="/bug/detail_modal :: detailBugFragment"></div>
<!--                    toast-->
<div th:replace="/fragment/commons :: toast-div"></div>
<div th:replace="/fragment/commons :: confirm-modal"></div>
<div th:replace="/fragment/commons :: logout"></div>
<script type="text/javascript" th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bst/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/plugins/autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/global/js/common.js}"></script>
<script type="text/javascript" th:src="@{/global/js/bs.table.js}"></script>
<script th:src="@{/global/js/t-bug.js}"></script>
<script>
    $(document).on('click', "#search-button", function () {
        $('#table').bootstrapTable('refresh');

    });

    const columns = [
        {field: 'id', align: 'center', title: 'id', visible: false},
        {field: 'checked', checkbox: true, align: "center", width: '40'},{
            field: 'projectName',
            align: 'center',
            title: '所属项目',
            class: 'col-sm-3',
            formatter: function (value, row, index) {
                return row.project.projectName;
            }
        }, {
            field: 'refModuleCount',
            align: 'center',
            title: '所属模块',
            class: 'col-sm-3',
            formatter: function (value, row, index) {
                return row.module.moduleName;
            }
        }, {
            field: 'func',
            align: 'center',
            title: '功能点',
            class: 'col-sm-3'
        }, {
            field: 'title',
            align: 'center',
            title: '问题描述',
            class: 'col-sm-6'
        },
        {
            field: 'severity',
            align: 'center',
            title: '严重程度',
            class: 'col-sm-2',
            formatter: function (value, row, index) {
                let _severity = '';
                switch (value) {
                    case 1:
                        _severity = '轻微';
                        break;
                    case 2:
                        _severity = '一般';
                        break;
                    case 3:
                        _severity = '严重';
                        break;
                    case 4:
                        _severity = '致命';
                        break;
                }
                return _severity;
            }
        },
        {
            field: 'bugStatus',
            align: 'center',
            title: '问题状态',
            class: 'col-sm-2',
            formatter: function (value, row, index) {
                let _severity = '';
                switch (value) {
                    case 1:
                        _severity = '新增';
                        break;
                    case 2:
                        _severity = '挂起';
                        break;
                    case 3:
                        _severity = '已提交';
                        break;
                    case 4:
                        _severity = '已解决';
                        break;
                    case 5:
                        _severity = '非bug';
                        break;
                }
                return _severity;
            }
        },
        {title: '操作', align: 'center', field: 'id', class: 'col-sm-3', formatter: option,}]

    function option(value, row, index) {
        const detail = '<button type="button" class="btn btn-sm btn-info" id="bug-detail" data-bs-toggle="modal" data-bs-target="#bug-detail-modal" ' +
            'onclick="bugDetail(\'' + row.id + '\')">详情</button>';
        const edit = '<button disabled type="button" class="btn btn-sm btn-warning" id="bug-edit" data-bs-toggle="modal" data-bs-target="#bug-detail-modal" ' +
            'onclick="bugDetail(\'' + row.id + '\')">编辑</button>';
        const _delete = '<button type="button" class="btn btn-sm btn-danger" id="bug-delete" onclick="batchDelete(\'' + row.id + '\')">删除</button>';
        return detail + edit + _delete;
    }

    const params = function (params) {
        return {
            projectName: $('#p-search').val().trim(), // 自定义查询条件
            moduleName: $('#module-search').val().trim(), // 自定义查询条件
            titleDesc: $('#title-search').val().trim(), // 自定义查询条件
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,

        }
    };
    InitTable('/bug/reloadTable', 'get', columns, params);

    autoComplete("/project/queryList", "p-search", 'p', false);
    autoComplete("/module/queryList", "module-search", 'm', false);
    const add_modal = $('#add-bug-modal');
    add_modal.on('shown.bs.modal', function () {
        autoComplete("/project/queryList", "projectCode", 'p', true);
    })
    // 查询相关关联的模块
    $("#module")[0].addEventListener("focus", function () {
        autoComplete("/module/queryList/" + $("#b-a-p").attr("value"), "module", 'm', false);
    })
    $("#add-bug-story")[0].addEventListener("focus", function () {
        autoComplete("/story/queryList/" + $("#b-a-p").attr("value"), "add-bug-story", 's', true);
    })

    // bug详情
    function bugDetail(id) {
        $('#bug-detail-modal').on('shown.bs.modal', function () {
            $.ajax({
                    url: '/bug/detail/' + id,
                    type: 'get',
                    dataType: 'JSON',
                    // contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (arg) {
                        $("#projectCode-d").val(arg['data'].project.projectName);
                        $("#module-d").val(arg['data'].module.moduleName);
                        $("#title-d").val(arg['data'].title);
                        $("#function-d").val(arg['data'].func);
                        $("#owner-d").val(arg['data'].testerEntity.username);
                        let _severity = "";
                        switch (arg['data'].severity) {
                            case 1:
                                _severity = "轻微";
                                break
                            case 2:
                                _severity = "一般";
                                break
                            case 3:
                                _severity = "严重";
                                break
                            case 4:
                                _severity = "致命";
                                break
                        }
                        $("#severity-d").val(_severity);
                        let _status = "";
                        switch (arg['data'].bugStatus) {
                            case 1:
                                _status = "新建";
                                break
                            case 2:
                                _status = "挂起";
                                break
                            case 3:
                                _status = "已提交";
                                break
                            case 4:
                                _status = "已解决";
                                break
                            case 5:
                                _status = "非bug";
                                break
                        }
                        $("#status-d").val(_status);
                        $("#remark-d").val(arg['data'].note);
                    }
                }
            )
            $('#bug-detail-modal').off('shown.bs.modal');
        })
    }
</script>
</body>
</html>
